<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="e5808e8b-6119-44a9-b9d8-9003db04a882" />
    <add key="AzureTenant" value="bertonline.onmicrosoft.com" />
    <add key="PfxCertificate" value="C:\temp\azuread\BertOnlineAzureADAppOnlyDefaultPassword.pfx" />
    <add key="PfxCertificatePassword" value="pass@word1" />
    <add key="TenantAdmin" value="https://bertonline-admin.sharepoint.com" />
    <add key="ExcludeOD4BSites" value="false" />
    <add key="NumberOfThreads" value="5" />
    <!--<add key="SiteFilters" value="https://bertonline.sharepoint.com/sites/test*,https://bertonline-my.sharepoint.com/personal/b*"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>