<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
      <trace autoflush="false" indentsize="4">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </trace>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--CLIEND ID AND SECRETS FOR YOUR ENVIRONMENT-->
      <add key="ClientId" value="CLEINT" />
      <add key="ClientSecret" value="SECRET" />

      <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED SET TO "false" WILL SET THE SITE REQUEST STATUS AS NEW-->
      <add key="AutoApproveSites" value="true" />
      
      <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
      <add key="SPHost" value="https://marascoonline.sharepoint.com/sites/siteprovisioning" />
      <add key="TenantAdminUrl" value="https://marascoonline-admin.sharepoint.com" />
      
      <!-- REPOSITORY TO STORE THE SITE REQUEST. THIS WILL USE A SHAREPOINT LIST THAT IS LOCATED ON THE SPHOST -->
      <add key="RepositoryManagerType" value="Provisioning.Common.Data.Impl.SPSiteRequestManagerImpl, Provisioning.Common" />
      <add key="TemplateProviderType"  value="Provisioning.Common.Configuration.Template.Impl.XMLSiteTemplateManager, Provisioning.Common"/>
      
      <!-- TEMPLATE CONNECTORS FOR PROVISIONING TEMPLATES -->
      <add key="ProvisioningTemplateConnectorType" value="OfficeDevPnP.Core.Framework.Provisioning.Connector, OfficeDevPnP.Core"/>
      <add key="ResourceConnectionString" value="Resources/SiteTemplates/ProvisioningTemplates/"/>
      
      <!---EMAIL SETTINGS-->
      <add key="SupportTeamNotificationEmail" value="sharepoint@marascohome.com"/>
      <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html"/>
      <add key="EmailNewSiteTemplateImage" value="Resources/EmailContent/sharepoint.png"/>
      <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html"/>
      <add key="EmailFailureTemplateImage" value="Resources/EmailContent/PNP.png"/>
    </appSettings>
    <system.net>
      <mailSettings>
        <smtp from="sharepoint@marascohome.com">
          <network defaultCredentials="false"
                    enableSsl="true"
                    host="smtp.office365.com"
                    port="587"
                    userName=""
                    password="password"/>
        </smtp>
      </mailSettings>
    </system.net>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
      </assemblyBinding>
</runtime>
</configuration>