<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="modulesSection" type="Provisioning.Common.Configuration.ModulesSection, Provisioning.Common" />
    </configSections>
    <system.diagnostics>
      <trace autoflush="false" indentsize="4">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </trace>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <modulesSection>
      <Modules>
        <Module name="RepositoryManager" 
                type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManagerImpl, Provisioning.Common" 
                connectionString="" 
                container=""/>
        <!--IF RUNNING IN AZURE ADD [WEBROOT_PATH]/Resources/SiteTemplates/" TO CONNECTIONSTRING-->
        <Module name="MasterTemplateProvider" 
                type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common" 
                connectionString="Resources/SiteTemplates/" 
                container=""/>
        <!--USED TO RETURN THE XML PROVIDERS-->
     
         <!--PROVISIONING & PROVIDER FOR RUNNING IN ONPREM--> 
        <Module name="XMLTemplateProviders"
              type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core"
              connectionString="Resources/SiteTemplates/ProvisioningTemplates"
              container=""/>
        <Module name="ProvisioningConnectors" 
                type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.FileSystemConnector, OfficeDevPnP.Core"
                connectionString="Resources/SiteTemplates/ProvisioningTemplates"   
                container=""/>
        <!--AZURE CONNECTOR USED FOR STORING ASSESTS IN A BLOB-->
        <!--<Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.AzureStorageConnector, OfficeDevPnP.Core"
              connectionString="DefaultEndpointsProtocol=https;AccountName=pnpsiteprovisioning;AccountKey=9wXyTHTiL5IN4YjeI6NhvWTB7rILhZj+/Cq06Q+j9+AZzysU6/K3wH+0YQPkI+zegjNpq9+LHDzVs4y7MSOyYA=="
              container="assests\Resources\SiteTemplates\ProvisioningTemplates"/>
        <Module name="XMLTemplateProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLAzureStorageTemplateProvider, OfficeDevPnP.Core"
            connectionString="DefaultEndpointsProtocol=https;AccountName=pnpsiteprovisioning;AccountKey=9wXyTHTiL5IN4YjeI6NhvWTB7rILhZj+/Cq06Q+j9+AZzysU6/K3wH+0YQPkI+zegjNpq9+LHDzVs4y7MSOyYA=="
            container="assests\Resources\SiteTemplates\ProvisioningTemplates"/>-->
        
      </Modules>
    </modulesSection>
    <appSettings>
      <!--CLIENT ID AND SECRETS FOR YOUR ENVIRONMENT-->
      <add key="ClientId" value="" />
      <add key="ClientSecret" value="" />
      <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED SET TO "false" WILL SET THE SITE REQUEST STATUS AS NEW-->
      <add key="AutoApproveSites" value="true" />
      <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
      <add key="SPHost" value="https://spsites.marascohome.com/sites/siteprovisioning" />
      <!--<add key="SPHost" value="https://marascoonline.sharepoint.com/sites/siteprovisioning" />-->
      <!--THE TENANTADMIN URL-->
      <add key="TenantAdminUrl" value="https://spsites.marascohome.com/sites/msotenantcontex" />
      <!--<add key="TenantAdminUrl" value="https://marascoonline-admin.sharepoint.com" />-->
      <!---EMAIL SETTINGS-->
      <add key="SupportTeamNotificationEmail" value="sharepoint@marascohome.com" />
      <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html" />
      <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html" />
    </appSettings>
    <system.net>
      <mailSettings>
        <smtp from="sharepoint@marascohome.com">
          <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" userName="frank@marascohome.com" password="@Caddy0701" />
        </smtp>
      </mailSettings>
    </system.net>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
      </assemblyBinding>
</runtime>
</configuration>