<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="ClientId" value="[CLIENTID" />
  <add key="ClientSecret" value="[CLIENTSECRET]" />
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="[URL]" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="[YOURTENANTADMINURL\" />
  <!--OVERRIDE FOR HOST NAME-->
  <add key="HostedAppHostNameOverride" value="spsiteprov.azurewebsites.net" />
  <!---EMAIL SETTINGS-->
  <add key="SupportTeamNotificationEmail" value="sharepoint@blah.com" />
  <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html" />
  <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html" />
</appSettings>
