<modulesSection>
    <Modules>      
      <!-- HOSTING ALL DATA IN SHAREPOINT-->
      <!-- NOTE: connectionString is empty, use appsettings RepositoryManager_connectionString to store URL -->
      <Module name="RepositoryManager" 
              type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManager, Provisioning.Common" 
              connectionString="" 
              container="" />      
      <!-- NOTE: connectionString is empty, use appsettings MasterTemplateProvider_connectionString to store URL -->
      <Module name="MasterTemplateProvider"
             type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common"
             connectionString="Resources/SiteTemplates/"
             container="" />
      <Module name="ProvisioningProviders"
              type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core"
              connectionString="Resources/SiteTemplates/ProvisioningTemplates"
              container="" />
      <Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.FileSystemConnector, OfficeDevPnP.Core"
              connectionString="Resources/SiteTemplates/ProvisioningTemplates"
              container="" />
      <!-- NOTE:  Enable this to generate Safe URLS and to disable users from specifying URLS manually-->
      <!--<Module name="SiteUrlProvider"
              type="Provisioning.Common.Data.SiteUrl.Impl.SafeTitleUrlProvider, Provisioning.Common"
              connectionString=""
              container=""/>-->      
      <Module name="AppSettingsManager"
              type="Provisioning.Common.Data.AppSettings.Impl.SPAppSettingsManager, Provisioning.Common"
              connectionString=""
              container=""/>
      
      <!--<Module name="MasterTemplateProvider"
              type="Provisioning.Common.Data.Templates.Impl.SPSiteTemplateManager, Provisioning.Common"
              connectionString="Resources/SiteTemplates/"
              container="" />-->
      <!--<Module name="MasterTemplateProvider"
              type="Provisioning.Common.Data.Templates.Impl.SPSiteTemplateManager, Provisioning.Common"
              connectionString="[WEBROOT_PATH]/Resources/SiteTemplates/"
              container="" />-->   
      
      <!-- NOTE: connectionString is empty, use appsettings ProvisioningProviders_connectionString to store URL -->
      <!--<Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.AzureStorageConnector, OfficeDevPnP.Core"
              connectionString="BlobEndpoint=https://michelystorage.blob.core.windows.net/;QueueEndpoint=https://michelystorage.queue.core.windows.net/;TableEndpoint=https://michelystorage.table.core.windows.net/;FileEndpoint=https://michelystorage.file.core.windows.net/;AccountName=michelystorage;AccountKey=KDwlFTKtj3tznBDX2HQaWwcbu/OmJcScGehWHzr9B13n9qAZ8QewWItZWWywL/RPbcb+5QjmxVY7lLPr+NPDiw=="'
              container="assets\Resources\SiteTemplates\ProvisioningTemplates"/>
      
      <Module name="ProvisioningProviders"
          type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLAzureStorageTemplateProvider, OfficeDevPnP.Core"
          connectionString="BlobEndpoint=https://michelystorage.blob.core.windows.net/;QueueEndpoint=https://michelystorage.queue.core.windows.net/;TableEndpoint=https://michelystorage.table.core.windows.net/;FileEndpoint=https://michelystorage.file.core.windows.net/;AccountName=michelystorage;AccountKey=KDwlFTKtj3tznBDX2HQaWwcbu/OmJcScGehWHzr9B13n9qAZ8QewWItZWWywL/RPbcb+5QjmxVY7lLPr+NPDiw=="
          container="assets\Resources\SiteTemplates\ProvisioningTemplates"/>-->      


      <!--IF RUNNING IN AZURE ADD [WEBROOT_PATH]/Resources/SiteTemplates/" TO CONNECTIONSTRING-->
      <!--<Module name="MasterTemplateProvider" 
              type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common" 
              connectionString="Resources/SiteTemplates/" 
              container="" />-->
      <!--USED TO RETURN THE XML PROVIDERS-->
      <!--PROVISIONING & PROVIDER FOR RUNNING IN ONPREM-->
      <!--<Module name="ProvisioningProviders" 
              type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core" 
              connectionString="Resources/SiteTemplates/ProvisioningTemplates" 
              container="" />
      <Module name="ProvisioningConnectors" 
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.FileSystemConnector, OfficeDevPnP.Core" 
              connectionString="Resources/SiteTemplates/ProvisioningTemplates" 
              container="" />-->
      <!--AZURE CONNECTOR USED FOR STORING ASSESTS IN A BLOB-->
      <!--<Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.AzureStorageConnector, OfficeDevPnP.Core"
              connectionString=""
              container="assets\Resources\SiteTemplates\ProvisioningTemplates"/>
        <Module name="ProvisioningProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLAzureStorageTemplateProvider, OfficeDevPnP.Core"
            connectionString=""
            container="assets\Resources\SiteTemplates\ProvisioningTemplates"/>-->
    </Modules>
</modulesSection>
