<modulesSection>
    <Modules>
      
      <!-- HOSTING ALL DATA IN SHAREPOINT-->
      <!-- NOTE: connectionString is empty, use appsettings RepositoryManager_connectionString to store URL -->
      <Module name="RepositoryManager" 
              type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManager, Provisioning.Common" 
              connectionString="" 
              container="" />
      
      <!-- NOTE: connectionString is empty, use appsettings MasterTemplateProvider_connectionString to store URL -->
      <Module name="MasterTemplateProvider"
              type="Provisioning.Common.Data.Templates.Impl.SPSiteTemplateManager, Provisioning.Common"
              connectionString=""
              container="" />
   
      
      <!-- NOTE: connectionString is empty, use appsettings ProvisioningProviders_connectionString to store URL -->
      <Module name="ProvisioningProviders"
                    type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLSharePointTemplateProvider, OfficeDevPnP.Core"
                    connectionString=""
                    container="SiteTemplatesData"/>
      
      <!-- NOTE: connectionString is empty, use appsettings ProvisioningConnectors_connectionString to store URL -->
      <Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.SharePointConnector, OfficeDevPnP.Core"
              connectionString=""
              container="SiteTemplatesData"/>

      <!--IF RUNNING IN AZURE ADD [WEBROOT_PATH]/Resources/SiteTemplates/" TO CONNECTIONSTRING-->
      <!--<Module name="MasterTemplateProvider" 
              type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common" 
              connectionString="Resources/SiteTemplates/" 
              container="" />-->
      <!--USED TO RETURN THE XML PROVIDERS-->
      <!--PROVISIONING & PROVIDER FOR RUNNING IN ONPREM-->
      <!--<Module name="ProvisioningProviders" 
              type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core" 
              connectionString="Resources/SiteTemplates/ProvisioningTemplates" 
              container="" />
      <Module name="ProvisioningConnectors" 
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.FileSystemConnector, OfficeDevPnP.Core" 
              connectionString="Resources/SiteTemplates/ProvisioningTemplates" 
              container="" />-->
      <!--AZURE CONNECTOR USED FOR STORING ASSESTS IN A BLOB-->
      <!--<Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.AzureStorageConnector, OfficeDevPnP.Core"
              connectionString=""
              container="assets\Resources\SiteTemplates\ProvisioningTemplates"/>
        <Module name="ProvisioningProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLAzureStorageTemplateProvider, OfficeDevPnP.Core"
            connectionString=""
            container="assets\Resources\SiteTemplates\ProvisioningTemplates"/>-->
    </Modules>
</modulesSection>
