<div id="suiteBarTop" class="ms-fullWidth removeFocusOutline" style="height:50px; position:relative;">
    <div autoid="_o365sg2c_k" class="o365cs-nav-header16 o365cs-base o365cst o365spo o365cs-nav-header o365cs-topnavBGColor-2 o365cs-topnavBGImage o365cs-rsp-off" id="O365_NavHeader">
        <div class="o365cs-nav-leftAlign">
            <div class="o365cs-nav-topItem o365cs-rsp-m-hide o365cs-rsp-tn-hideIfAffordanceOn" style="display: none;"></div>
            <div class="o365cs-nav-topItem o365cs-rsp-m-hide o365cs-rsp-tw-hide o365cs-rsp-tn-hideIfAffordanceOff" style="display: none;"></div>
            <div class="o365cs-nav-topItem ms-fcl-w o365cs-rsp-tn-hideIfAffordanceOn" style="display: none;"></div>
            <div class="o365cs-nav-topItem o365cs-nav-o365Branding o365cs-rsp-tn-hideIfAffordanceOn">
                <a class="o365cs-nav-bposLogo o365cs-topnavText o365cs-o365logo o365cs-rsp-tw-hide o365cs-rsp-tn-hide o365button" role="link" id="O365_MainLink_Logo" href="https://portal.office.com/Home" aria-label="Go to your Office 365 home page"><span class="o365cs-nav-brandingText">Office 365</span><span class="wf wf-family-o365 wf-o365-x36 o365cs-nav-gallatinLogo"></span></a>
                <div class="o365cs-nav-appTitleLine o365cs-nav-brandingText o365cs-topnavText o365cs-rsp-tw-hide o365cs-rsp-tn-hide"></div>
                <a class="o365cs-nav-appTitle o365cs-topnavText o365button" role="link" href="/Home/Index" aria-label="Go to team sites"><span class="o365cs-nav-brandingText">@OfficeDevPnP.MSGraphAPIDemo.Components.MSGraphAPIDemoSettings.Title</span></a>
                <div class="o365cs-nav-topItem o365cs-breadCrumbContainer o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
            </div>
            <div class="o365cs-nav-centerAlign">
                <div class="o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
                <div class="o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
            </div>
            <div class="o365cs-nav-rightAlign o365cs-topnavLinkBackground-2" id="O365_TopMenu">
                <div>
                    <div class="o365cs-nav-headerRegion"></div>
                </div>
            </div>
        </div>
        <div class="o365cs-nav-centerAlign">
            <div class="o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
            <div class="o365cs-rsp-tw-hide o365cs-rsp-tn-hide" style="display: none;"></div>
        </div>
        <div class="o365cs-nav-rightAlign o365cs-topnavLinkBackground-2" id="O365_TopMenu">
            <div>
                <div class="o365cs-nav-rightMenus">
                    <div role="banner" aria-label="User settings">
                        <div class="o365cs-nav-topItem o365cs-rsp-tn-hideIfAffordanceOn">
                            <button autoid="_o365sg2c_1" type="button" class="o365cs-nav-item o365cs-nav-button o365cs-me-nav-item o365button ms-bgc-tdr-h ms-fcl-w" role="menuitem" aria-label="Paolo Pialorsi offline menu with submenu" aria-haspopup="true" aria-owns="_ariaId_10" aria-flowto="_ariaId_10">
                                <div class="o365cs-me-tileview-container">
                                    <div autoid="_o365sg2c_2" class="o365cs-me-tileview">
                                        <div autoid="_o365sg2c_3" class="o365cs-me-presence5x50 o365cs-me-presenceColor-Offline"></div>
                                        <span autoid="_o365sg2c_4" class="ms-bgc-nt ms-fcl-w o365cs-me-tileimg o365cs-me-tileimg-doughboy owaimg ms-Icon--person ms-icon-font-size-52"> </span>
                                        <div style="display: none;"></div>
                                        <div class="o365cs-me-tileimg">
                                            <img autoid="_o365sg2c_6" class="o365cs-me-personaimg" src="/People/GetPersonaPhoto?upn=@(OfficeDevPnP.MSGraphAPIDemo.Components.MSGraphAPIDemoContext.CurrentUserUPN)&height=64&width=64" title="@(OfficeDevPnP.MSGraphAPIDemo.Components.MSGraphAPIDemoContext.CurrentUserDisplayName)" style="display: inline; width: 50px; top: 0px;">
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none;"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
