@import 'variables';

#breadcrumb-nav {
    
    font-family: $font-primary;

    #message {
        padding: 10px;

        i {
            float: left;
            margin-right: 5px;
        }
    }

    .nav {

        margin-top: 0px;

        > li > {

            a {
                text-decoration: none;
                padding-top: 0px;
                padding-bottom: 0px;
            }

            a:hover {
                background-color: transparent;
                text-decoration: underline;
            }

            a:focus{
                background-color: transparent;
            }

            a, a:hover {
                color: $footerlinks-color;
            }
        }
    }
    
    ul {

        padding-left: 15px;

        li {
            float: left;

            a.chevron {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}