@import 'variables';

.control-display-template {

    .all-items-link {
        clear: both;
        text-align: left;
        padding: 15px;

        a {
            text-decoration: underline;
        }
    }

    .all-items-link.tile {
        padding-left: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Start Content Search Web Part Styles */
    ul.cbs-List {
        
        width: 100%;
        margin: 0px;

        // Paging control
        .ms-promlink-headerNav {

            padding-right: 15px;
            margin-top: 15px;
            float: none;
            display: block;
            text-align: center;


            a {
                text-decoration: none;

                .ms-promlink-button-disabled {
                    color: #e1e1e1;
                }

                .ms-promlink-button-enabled {
                    color: inherit;
                }

                .ms-promlink-button-enabled:hover, .ms-promlink-button-enabled.ms-promlink-button-disabled:hover {
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }
        
        li~li {
            .event-item, .news-item {
                border-top: 1px solid #F2EFEF;
            }
        }
    }

    /* End Content Search Web Part Styles */

    /* Start Search Results Styles */ 
    #Result {

        margin-top: 0px;

        #ResultCount {
            padding: 10px;
            padding-top: 0px;
        }

        #Groups {
            min-height: 700px;
        }

        .search-item {
            max-width: 500px; 
            width: 100%; // For mobile view

            strong.ms-srch-item-highlightedText {
                color: $navbar-l2-link-color-hover;
            }
        }

        .search-item:hover {
            background-color: rgba( 205,230,247,0.5 );
        }
    }

    #NoResult {
        text-align: center;
    }
    /* End Search Results Styles */ 

    #Refinement {
        font-family: $font-primary;
    }
}

.item-display-template {

    font-family: $font-primary;

    /* Start Common styles (both CSWP & Search Results) */
    .item-title {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .item-image, .item-icon {
        float:left;
        margin-right: 10px;        
    }

    .item-image {
        width: 100px;
    }

    .item-excerpt {
        text-transform: initial;
        min-height: 50px;
    }

    .document-item, .news-item, .page-item, .contact-item  {
        padding: 10px;
        clear: both;
    }

    .alt {
        border-bottom: 1px solid $text-color;
    }   
    /* End Common styles (both CSWP & Search Results) */

    /* Start Refinement Item Filter Styles */
    #RefinementName { // Used to display the spinner
        min-width: 30px;
        min-height: 20px;
        display: inline-block;
    }

    #RefinementCount {
        color: $primary-color;
    }

    .ms-ref-refinername, .ms-ref-refinername:hover, .ms-ref-refinername:link {
        font-size: inherit
    }

    .ms-ref-uparrow, .ms-ref-downarrow {
        margin-top: auto;
    }

    /* Slide bar graph refinement colors */
    .ajax__multi_slider_default .inner_rail_horizontal {
        background-color:$primary-color;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
    }

    .slider_tick_active {
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }

    .histogram_bar_active {
        border-top: 2px solid $primary-color;
    }

    .ms-ref-ctrl .ms-ref-selSec .ms-ref-filterSel, .ms-ref-ctrl .ms-ref-allSec .ms-ref-filterSel {
        color: $primary-color;
    }

    #FilterLink.ms-ref-filterSel .ms-ref-name {
        color: $navbar-l2-link-color-hover;
    }       
    /* End Refinement Filter Styles */
    
    /* News Item Styles (CSWP & Search Results) */
    .news-item {

        min-height: 130px;

        img {
            border-radius: 5px;
        }

        img.no-image {
            background-image: url(./images/default_image.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100px;
        }

        .tile {
            height: 130px;
        }
    }

    /* Document Item Styles */
    .document-item {
        
        .item-download, .item-library {
            float: left;
            margin-left: 10px;
        }

        .item-title {
            float: left;
        }

        .item-excerpt {
            clear: both;
        }
    }

    .event-item {

        clear: both;
        width: 100%;
        display: inline-block;
        padding: 15px;

        p {
            margin: 0;
        }

        .event-dates {

            float: left;
            display: block;
            margin-right: 15px;
            min-height: 50px;
          
            i.arrow {
                float: left;
                margin-top: 23px;
                margin-left: 2px;
                margin-right: 2px;
            }
        }

        .event-date {
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        .event-infos {
            display: block;
            min-width: 160px;
            margin-left: 100px;

            i {
                float: left;
                margin-right: 5px;
            }

            .event-summary {
                padding: 3px 0 0;
            }
        }

        .date-box {
            width: 36px;
            float: left;
            
            .month {
                color: #FFF;
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
                display: block;
                font-style: normal;
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;
                height: 23px;
                line-height: 23px;
                background-color: #a82d28;
            }

            .day {
                display: block;
                font-style: normal;
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;
                height: 23px;
                line-height: 23px;
                background: #f9f9f9;
            }
        }
    }   
}