@import 'variables';

#footer-links, .push {
    /* .push must be the same height as .footer */
    height: 30px;
    /* Multicolumn Layout With Sticky Footer */
    clear: both;
}

#footer-links {

    ul {

        list-style: none;
        text-align: center;
        padding-left: 0;

        li {
            
            display: inline-block;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 5px;

            a, a:hover {
                color: $footerlinks-color;
            }
        }

        /* Medium and large devices (Desktop) */
        @media (min-width: 768px) {
            
            li~li { 
                border-left: 1px solid $footerlinks-color; // Put a '|' between links
            }
        }
    }
}