@import 'variables';

//-----------------------------
//  Intranet global styles (master paeg & utility)
//-----------------------------

#s4-bodyContainer {

  /* font-family: $font-primary;*/ /* Take the BT font here */

  /* Start intranet logo styles */
  #intranet-logo {

    padding-left: 15px;
  
    img {
        width: 160px;
        float: left;
    }
  }

  /* Small devices (Tablets) */
  /* iPad resolution is 768px width so we have to set a lower value to display the image with a desktop view */
  @media (max-width: 767px) { 

    #intranet-logo img {
      display: block;
      margin: auto;
      float: none;
    }
  }
  /* End intranet logo styles */
}

body #s4-workspace {
  margin-bottom: -30px;
}

/* See http://www.eliostruyf.com/sticky-footer-solution-for-sharepoint-2013/ for sticky footer with SharePoint */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* The bottom margin is the negative value of the footer's height */
  margin: 0 auto -30px;
  overflow: visible !important;
}

#bg-layer{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999;
}

header {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#breadcrumb {
  color: $footerlinks-color;
  min-height: 40px;
}

footer {
    background: $navbar-l1-link-color;
    border-top: 5px solid $primary-color;
    padding: 10px 20px 10px;
}

//-----------------------------
//  Utility CSS classes
//-----------------------------
.bg-color1 {
  background-color: $primary-color
}

.clear {
  clear: both;
}

.spinner {
  background-image: url(./images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}
