@import 'variables';

#header  {

    clear: both;
    float: right;
    font-family: $font-primary;
    text-decoration: none;
    text-transform: uppercase;

    /* Start: Global header styles */  
    #logoZone {
        float: left;
    }
    
    #utilsZone {
        float: left;
        max-height: 40px;
    }

    #language-switcher, #searchbox, #header-links   {
        float: left;
    }
    /* End: Global header styles */
}