@import 'variables';

#language-switcher {

    line-height: 35px; // Align middle
    max-height: 40px; // Fix for Firefox

    ul {

        padding: 0;
        margin: 0;

        li:not(:first-child):before {
            content: "|";
            margin-left: 2px;
            margin-right: 2px;
        }

        li {
            display: inline;
            list-style: none;
            list-style-type: none;
            
            .is-selected {
                color: $navbar-hover-color;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}

/* Mobile version of the language switcher */
#languageswitcher-mobile {

    #language-switcher {

        padding: 9px 10px; // Align with burger button borders
        float: right;
        background-color: transparent;
        background-image: none;
        border-color: transparent;
        min-width: 2em;
        line-height: inherit;

        li {
            display: block;
            padding: 0;
            text-align: left;
            float: left;

            .is-selected {
                color: $navbar-hover-color;
            }      

            a {
                text-decoration: underline;
                color: $navbar-l1-link-color;
            }  
        }

        li~li { 
            border: none;
        }
    }
}
