@import 'variables';

/* Important: these styles are only applied in display mode ! */
.page-layout {

    .line {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }

    #title {
        font-size: 56px;
        color: #000;
        margin-bottom: 20px;
        font-family: $font-primary;
        font-weight: lighter;
    }

    /* Small devices */
    @media (max-width: 767px) { 

        #title {
            font-size: 48px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    #news-categories {
        height: 64px;
        line-height: 64px;
    }

    #related-news {
        border-top: 1px solid #D8D8D8;
    }

    /* Start: News Page Layout styles */
    #page-image {
        clear: both;

        img {
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }     
    /* End: News Page Layout styles */

    /* Start: Search Page Layout styles */
    #Result {
        min-height: 700px;
    } 
    /* End: Search Page Layout styles */   
}
