@import 'variables';

#searchbox {

    padding-left: 15px;
    
    .search {
        padding-top :8px;
        padding-bottom :8px;        
        padding-left: 30px;
    }

    #search-input {
        position: relative;
    }

    #search-input, #search-categories {
        float: left;
        box-shadow: none;
        
        i.fa-search {
            position: absolute;
            top: 12px;
            left: 15px;
        }                       

        input {
            border-radius: 0px;
            height: inherit;
            outline: none;
        }

        input.error {
            border-color: $error-color;
            outline-color: transparent;
        }
    }

    #search-categories {

        button {

            padding: 8px 0px;
            min-width: 3em;
            background-color: $primary-color;
            border: 1px $primary-color solid;

            i {
                color: white;
            }
        }

        button.error {
            border-color: $error-color;
            background-color: $error-color;
        }

        ul {
            font-size: $navbar-font-size;
            cursor: pointer;
 
        }

        ul.dropdown-menu {
            left: -65px;
            min-width: inherit;
        }
    }
}