@import 'variables';

#navbar {

  clear: both;
  font-size: $navbar-font-size;
  min-height: 50px; // To display the spinner
  font-family: $font-primary;
  text-transform: uppercase;

  .yamm {

    // reset positions 
    .nav, .collapse, .dropup, .dropdown {
      position: static;
    }  

    // propagate menu position under container for fw navbars
    .container {
      position: relative;
    }

    // by default aligns menu to left
    // Content with padding 
    ul.dropdown-menu {
      left: auto;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    
    // Fullwidth menu
    .dropdown.yamm-fw .dropdown-menu {
      left: 0; 
      right: 0;
    }

    .list-unstyled, .list-unstyled ul {
        min-width: 120px;
        list-style: none;
    }

    .navbar-header {

        button.navbar-toggle {
          margin-left: 5px;
          margin-right: 0px;
          min-width: 4em;
        }

        /* SearchBox + Language Switcher group */
        #call-to-action {
          border: solid transparent;
          overflow: auto;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
    }

    .nav {

      width: 100%;

      .yamm-content {
        padding: 0px;
        font-size: $navbar-font-size;

        .level2 {
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }

      li > {

        a {
          color: $navbar-l1-link-color;
        }
        
        a:hover {
          color: $navbar-hover-color;
          background-color: inherit;
          background-color: transparent;
        }

        a:focus {
          background-color: transparent;
        }
      }
    }
    
    .nav .open > {

      a, a:hover,a:focus {
        background-color: inherit;
      }

    }

    .navbar-toggle {
      border-color: $navbar-l1-link-color;

      i {
        color: $navbar-hover-color;
      }
    }

  }
    /* Small devices */
  @media (max-width: 768px) { 

    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }

    .yamm-content {

      a {
          color: $navbar-l1-link-color;
      }
    }
  }

  /* Medium and large devices (Desktop) */
  @media (min-width: 768px) {

    .navbar-collapse {
      padding: 0;
    }

    .nav {

      a {
          color: $navbar-l1-link-color;
      }

      a:hover {
          color: $navbar-l1-link-color-hover;
      }
      
      ul.dropdown-menu {
          left: 0px;
          width: 100%;
      }

      .yamm-content {

          a {
              color: $navbar-l2-link-color;
          }

          a:hover {
              color: $navbar-l2-link-color-hover;
              text-decoration: none;
          }
      }

      li.right {
        float:right;
      }
    }
  }
}