<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <!--<add key="ClientId" value="ID" />
  <add key="ClientSecret" value="CLIENT" />-->
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="https://koenzomers.sharepoint.com/sites/dev" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="https://koenzomers-admin.sharepoint.com" />
  <!--OVERRIDE FOR HOST NAME-->
  <!--<add key="HostedAppHostNameOverride" value="provisioninguxappwebkz.azurewebsites.net" />-->
</appSettings>

