<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="ClientId" value="ID" />
  <add key="ClientSecret" value="CLIENT" />
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="URL" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="ADMIN" />
  <!--OVERRIDE FOR HOST NAME-->
  <add key="HostedAppHostNameOverride" value="spsiteprov.azurewebsites.net" />
</appSettings>

