<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-translate.TypeScript.DefinitelyTyped" version="0.9.7" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.4.4" targetFramework="net45" />
  <package id="AngularJS.Sanitize" version="1.4.4" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.1.6" targetFramework="net45" />
  <package id="AngularTranslate" version="2.6.1" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.3912.1204" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="OfficeDevPnPCore16" version="1.4.0815.1" targetFramework="net45" />
</packages>