<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
    <add key="AutoApproveSites" value="true" />
    <add key="ClientId" value="f4958de5-b9f7-40d4-9668-ac824aeda5f7" />
    <add key="ClientSecret" value="iIfipfpjb5XANEuH5sDO91zyX0VRq/FH4PHOK2H1QGw=" />
    <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
    <add key="SPHost" value="https://marascoonline.sharepoint.com/sites/siteprovisioning" />
    <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
    <!--Office 365-->
    <add key="TenantAdminUrl" value="https://marascoonline-admin.sharepoint.com" />
    <!-- ONPREM   -->
    <!--
    <add key="TenantAdminUrl" value="https://spsites.marascohome.com/sites/msotenantcontex" />-->
    <!--Set to true for onpremises and SPO-D LEGACY others set to false-->
    <add key="SharePointOnPremises" value="true" />
    <!--USED TO EITHER WORK THE PROFILEAUTHENTICATION CLASS-->
    <add key="TenantAdminAccount" value="frank@marascohome.com" />
    <add key="TenantAdminAccountPWD" value="" />
    <add key="MysiteTenantAdminUrl" value="https://my.marascohome.com" />
    <!-- Default Repository for Site Requests. This will use a SharePoint List that is located in the SPHOST  -->
    <add key="RepositoryManagerType" value="Provisioning.Common.Data.Impl.SPSiteRequestManagerImpl, Provisioning.Common" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>