@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>An unexpected error has occurred.</h2>
            <p>Please try again by launching the app installed on your site.</p>
            @{
                if (Request.IsLocal)
                {
                    if (Model != null && @Model.Exception != null)
                    {
                        <h3>
                            Exception was: @Model.Exception.Message
                        </h3>
                        <h4>Stack Trace: @Model.Exception.StackTrace</h4>
                    }
                    else
                    {
                        <h3>Exception was null</h3>
                    }
                }else
                {
                    <h4>The Error has been reported to the Administrator.</h4>
                }
            }
        </div>
    </div>
</body>
</html>
