<div class="modal-right-heading">
    <h1 >{{ 'DATA_PRIVACY' | translate }}</h1>
</div>

<div class="modal-right-body" ng-form="siteprivacyform">
    <span ng-bind-html="'DATA_PRIVACY_TEXT' | translate"></span>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="privacyClassification">{{ 'SITE_CLASSIFICATION' | translate }}</label>
                <select class="form-control" name="privacyClassification" id="privacyClassification" ng-model="siteConfiguration.privacy.classification" required>
                    <option ng-repeat="siteclassification in siteclassifications | orderBy: 'displayOrder'" value="{{siteclassification.value}}">{{siteclassification.key}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
