<div class="modal-right-heading">
    <h1>Intended Use</h1>
</div>

<div class="modal-right-body">

    <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.purposeDescription.$invalid && !formWizard.purposeDescription.$pristine, 'has-success' : formWizard.purposeDescription.$valid && !formWizard.purposeDescription.$pristine }">
        <label class="control-label" for="purposeDescription">What is your business purpose for this site?</label>
        <textarea class="form-control" rows="12" name="purposeDescription" id="purposeDescription" ng-model="siteConfiguration.purpose.description" required></textarea>
    </div>


    <label>Is this site public or private?</label>
    <div class="radio">
        <label>
            <input type="radio" name="purposeRadios" value="public" ng-model="siteConfiguration.purpose.type">
            Public
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="purposeRadios" value="private" ng-model="siteConfiguration.purpose.type">
            Private
        </label>
    </div>

</div>
