<div class="modal-right-heading">
    <h1>Site Owner Responsibilities</h1>
</div>

<div class="modal-right-body">
    <p>Being a site owned has its responsibilites...</p>
    <p>Ensuring that the Site has the correct permissions<p>
    <p>Correct data classifications: LBI, MBI, and HBI</p>
    <p>Valid primary and secondary owners</p>

    <div class="form-group" ng-class="{'has-success': siteConfiguration.responsibilities.read }">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-model="siteConfiguration.responsibilities.read" required>
                I have read and accept...
            </label>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-success': siteConfiguration.responsibilities.agreed }">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-model="siteConfiguration.responsibilities.agreed" required>
                I agree to...
            </label>
        </div>
    </div>

</div>
