/* Page-specific styling */

#details {
    margin-left: 15px;
}

    #details th {
        text-align: left;
        padding-right: 10px;
    }

#from {
    cursor: pointer;
    color: #336699;
}

#from:focus, #from:hover, #from:active {
    color: #4ea2df;
}

#trackingResult table {
    border-collapse: collapse;
}
#trackingResult th {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 2px;
}
#trackingResult td {
    padding: 2px;
}