<!-- Header component -->
<div id="header" class="hidden-xs">
    <div id="utilsZone">
        <div style="float:right">
            <component-languageswitcher params='availableLanguages: ["EN","FR"], languageFieldName:"IntranetContentLanguage", associationKeyFieldName:"IntranetContentAssociationKey"'></component-languageswitcher>
            <component-searchbox></component-searchbox>
        </div>      
        <div class="clear">      
            <component-headerlinks></component-headerlinks>
        </div>
    </div>
</div>