<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
      <trace autoflush="false" indentsize="4">   
      <listeners>  
        <add name="DebugListenter" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />   
      </listeners>  
    </trace>  
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="ServiceBus.Connection" value="ENTERYOURSERVICEBUSSCONNECTIONSTRING"/>
    <add key ="ServiceBus.RequestQueue" value="SP_SITE_REQUEST_QUEUE"/>
    <!--FRAMEWORK.PROVISIONING SETTINGS-->
    <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED SET TO FALSE WILL SET THE SITE REQUEST STATUS TO NEW-->
    <add key="AutoApproveSites" value="true"/>
    <add key="ClientId" value="YOURCLIENT" />
    <add key="ClientSecret" value="YOURSECRET" />
    <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
    <add key="SPHost" value="https://YOURSITE.sharepoint.com/sites/siteprovisioningdev1"/>
    <add key="TenantAdminUrl" value="https://YOURADMIN-admin.sharepoint.com" />
    <!--Set to true for onpremises and SPO-D LEGACY others set to false-->
    <add key="SharePointOnPremises" value="false"/>
    <!--USED TO WORK WITH USERNAME/PASSWORD FUTURE USER-->
    <add key ="TenantAdminAccount" value="MYSERVICEACCOUNT"/>
    <add key= "TenantAdminAccountPWD" value=""/>
    <!--FUTURE USE-->
    <add key= "MysiteTenantAdminUrl" value="MYUSERL"/>
    <!-- Default Repository for Site Requests. This will use a SharePoint List that is located in the SPHOST  -->
    <add key="RepositoryManagerType" value="Framework.Provisioning.Core.Data.Impl.SPSiteRequestManagerImpl, Framework.Provisioning.Core"/>
    <!---EMAIL SETTINGS-->
  </appSettings>
</configuration>
