<?xml version="1.0" encoding="utf-8"?>
<TemplateConfiguration Version='1.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <Templates>
    <!--  
   
          ThemePackage Name must be defined in the ThemePackage Element in order to apply branding
          StorageMaximumLevel Minimum 110  
          For on-prem & SPOD legacy Storage and UserCode are not applied and will default to the QuotaTemplate that is defined. 
    -->
    <Template ID="CT1"
              Name="CT1"
              Title="Default Team Site"
              RootTemplate="STS#0"
              Description="Default Team Site"
              RootWebOnly="false"
              HostPath="https://team.com/"
              ManagedPath="teams"
              Version="1"
              StorageMaximumLevel="110"
              StorageWarningLevel="80"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              BrandingPackage=""
              Enabled="true"
              TemplateConfiguration="Resources/Templates/SiteTemplates/DefaultTeamSiteTemplate.xml"/>
    <Template ID="CT2"
              Name="CT2"
              Title="Contoso Team"
              RootTemplate="STS#0"
              Description="Super Team Site"
              RootWebOnly="true"
              HostPath="https://team.com/"
              ManagedPath="teams"
              Version="1"
              StorageMaximumLevel="110"
              StorageWarningLevel="80"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              BrandingPackage="Garage"
              Enabled="true"
              TemplateConfiguration="Resources/Templates/SiteTemplates/ContosoTeamTemplate.xml"/>
    <Template ID="CT3"
              Name="CT3"
              Title="Contoso Team"
              RootTemplate="STS#0"
              Description="Super Team Site"
              RootWebOnly="false"
              HostPath="https://team.com/"
              ManagedPath="teams"
              Version="1"
              StorageMaximumLevel="110"
              StorageWarningLevel="80"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              BrandingPackage="GarageWhite"
              Enabled="false"
              TemplateConfiguration="Resources/Templates/SiteTemplates/DefaultTeamSiteTemplate.xml"/>
  </Templates>
  <BrandingPackages>
    <BrandingPackage Name="Contoso"
                  ColorFile="Resources/Themes/Contoso/contoso.spcolor"
                  FontFile="Resources/Themes/Contoso/contoso.spfont"
                  BackgroundFile="Resources/Themes/Contoso/contosobg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS="Resources/Themes/Contoso/Contoso.css"
                  SiteLogo="Resources/Themes/Contoso/contosologo.png"
                  Version="1" />
    <BrandingPackage Name="Garage"
                  ColorFile="Resources/Themes/Garage/garage.spcolor"
                  FontFile=""
                  BackgroundFile="Resources/Themes/Garage/garagebg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS=""
                  SiteLogo=""
                  Version="1"/>
    <BrandingPackage Name="GarageWhite"
                  ColorFile="Resources/Themes/Garage/garagewhite.spcolor"
                  FontFile=""
                  BackgroundFile="Resources/Themes/Garage/garagebg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS=""
                  SiteLogo=""
                  Version="1" />
    <BrandingPackage Name="SPC"
                  ColorFile="Resources/Themes/SPC/SPCTheme.spcolor"
                  FontFile=""
                  BackgroundFile="Resources/Themes/SPC/SPCbg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS=""
                  SiteLogo=""
                  Version="1"/>
  </BrandingPackages>
</TemplateConfiguration>
