@{
    ViewBag.Title = "Getting started";
}

<div class="row">
    <div class="col-md-12">
        <p>
            This sample project provides some useful examples about how to consume
            the Microsoft Graph API within an Office 365 Application. 
            <br/>&nbsp;<br />
            Use the top navigation bar menu to select the scope of the API that you want
            to play with.
            <br />&nbsp;<br />
            To learn more about the Microsoft Graph API you can 
            <a target="_blank" href="http://www.amazon.com/gp/product/1509300910/">read the book</a> 
            related to this code samples, or you can visit the 
            <a target="_blank" href="http://graph.microsoft.io/">web site dedicated to the Microsoft Graph</a>.
        </p>
    </div>
</div>