@{
    ViewBag.Title = "Contact";
}

<div class="ms-Grid-row ms-bgColor-themeDark ms-fontColor-white intro">
    <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
        <h2 class="ms-font-su ms-fontColor-white">@ViewBag.Title.</h2>
        <h3 class="ms-font-xl ms-fontColor-white">@ViewBag.Message</h3>
    </div>
</div>
<div class="ms-Grid-row spacer">
    <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
        <address class="ms-font-l">
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">Phone:</abbr>
            425.555.0100          
        </address>
        <address class="ms-font-m">
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>


