@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                Hola, @User.Identity.Name!
            </li>
            <li>
                @Html.ActionLink("Salir", "SignOut", "Account"
            )
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Signin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
