@{
    ViewBag.Title = "Chapter 6 - Users and Groups";
}

<div class="row">
    <div class="col-md-12">
        <p>
            In this section you can find samples related to the Users and Groups APIs.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p><a class="btn btn-default" href="/UsersGroups/ListUsers">List Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security Groups</h2>
        <p><a class="btn btn-default" href="/UsersGroups/ListSecurityGroups">List Groups &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Office 365 Groups</h2>
        <p><a class="btn btn-default" href="/UsersGroups/ListUnifiedGroups">List Office 365 Groups &raquo;</a></p>
        <p><a class="btn btn-default" href="/UsersGroups/AddUnifiedGroup">Add Office 365 Group &raquo;</a></p>
    </div>
</div>

