@{
    ViewBag.Title = "Home Page";
}

<div>
    This is a sample solution to show how to create an Office 365 Application, using ASP.NET MVC and leveraging
    tools and services like Azure AD, Microsoft Graph, OfficeDev PnP, etc.
    <br/>
    For further details about this solution, you can read the book 
    <a target="_blank" href="http://www.amazon.com/dp/1509300910/">"Programming Microsoft Office 365"</a> from Microsoft Press,
    authored by Paolo Pialorsi.
    <br />&nbsp;<br />&nbsp;
    <a target="_blank" href="http://www.amazon.com/dp/1509300910/">
        <img src="/Programming-Office-365-Cover.jpg" alt="Programming Microsoft Office 365" style="border: none; width: 200px;" />
    </a>
    <br />&nbsp;<br />&nbsp;
    <br />&nbsp;<br />&nbsp;
    <br />&nbsp;<br />&nbsp;
    <br />&nbsp;<br />&nbsp;
    <br />&nbsp;<br />&nbsp;
</div>