<appSettings>
    <!--USED FOR TESTING -->
    <add key="ENVRTEST1" value="[ALLUSERSPROFILE]/Resources/SiteTemplate" />
    <add key="ENVRTEST2" value="Resources/SiteTemplate" />
    <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
    <add key="AutoApproveSites" value="true" />
    <add key="ClientId" value="CLIENT" />
    <add key="ClientSecret" value="SEC"/>
    <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
    <add key="SPHost" value="URL" />
    <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
    <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
    <add key="TenantAdminUrl" value="admin" />
</appSettings>
