<modulesSection>
    <Modules>
      <Module name="RepositoryManager" type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManager, Provisioning.Common"
            connectionString=""
            container="" />
      <!--<Module name="RepositoryManager" type="Provisioning.Common.Data.SiteRequests.Impl.AzureDocDbRequestManager, Provisioning.Common"
               connectionString="AccountEndpoint=https://myautosite.documents.azure.com:443/;AccountKey=wNVYjX0o3cq/PoofwsTzbxN3eoucu5wP6XJe9c9YnVmIucVct4g7wvRP0Zxzz5qFy5691dk/Dy1Zzb8J1njKoA==;"
               container="SiteRequests" />-->
      <!--IF RUNNING IN AZURE ADD [WEBROOT_PATH]/Resources/SiteTemplates/" TO CONNECTIONSTRING-->
      <Module name="MasterTemplateProvider" 
              type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common" 
              connectionString="Resources/SiteTemplates/" 
              container="" />
      <!--USED TO RETURN THE XML PROVIDERS-->
      <!--PROVISIONING & PROVIDER FOR RUNNING IN ONPREM-->
      <Module name="ProvisioningProviders" 
              type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core" 
              connectionString="Resources/SiteTemplates/ProvisioningTemplates" 
              container="" />
      <Module name="ProvisioningConnectors" 
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.FileSystemConnector, OfficeDevPnP.Core" 
              connectionString="Resources/SiteTemplates/ProvisioningTemplates" 
              container="" />
      <!--AZURE CONNECTOR USED FOR STORING ASSESTS IN A BLOB-->
      <!--<Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.AzureStorageConnector, OfficeDevPnP.Core"
              connectionString=""
              container="assests\Resources\SiteTemplates\ProvisioningTemplates"/>
        <Module name="XMLTemplateProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLAzureStorageTemplateProvider, OfficeDevPnP.Core"
            connectionString=""
            container="assests\Resources\SiteTemplates\ProvisioningTemplates"/>-->
    </Modules>
</modulesSection>
