@model Provisioning.Cloud.Modern.Async.Models.IndexViewModel
@{
    ViewBag.Title = "Create a \"modern\" site";
}

<div class="ms-Grid">

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            Site creation successfully enqueued!
        </div>
    </div>

</div>

<img src="https://telemetry.sharepointpnp.com/PnP/samples/Provisioning.Cloud.Modern.Async/Home/Create" />
