<div id="footer" class="push">
    <footer>
        <div class="container">
            <ul>
                <li>
                    <a href="https://github.com/OfficeDev/PnP">PnP on GitHub</a>
                </li>
                <li>
                    <a href="http://dev.office.com/">Office Dev Center</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/franckcornu">About the author</a>
                </li>
                <li>
                    <a href="http://thecollaborationcorner.com/">The collaboration corner</a>
                </li>
                <li>
                    <span>Copyright© 2016 - Your company</span>
                </li>
            </ul>
        </div>
    </footer>
</div>

