<div id="searchbox">
    <form data-bind="submit: doSearch">

            <div id="search-input">
                <input  type="text" 
                        class="search" 
                        data-bind="textInput: inputQuery, 
                        attr: { placeholder: selectedCategory() ? (searchPlaceHolderLabel() + ' ' + selectedCategory().name ) : searchPlaceHolderLabel }, 
                        css : { 'error': isError() },
                        event: { focusout: function(){isError(false)} }">
            </div>
            <div id="search-categories" class="btn-group">

                <!-- ko if: isError -->
                    <button type="button" class="error" aria-haspopup="true" aria-expanded="false">
                        <i class="ms-Icon ms-Icon--exclamation" aria-hidden="true"></i>
                    </button>
                <!-- /ko -->

                <!-- ko ifnot: isError -->
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="category">
                        <i class="ms-Icon" aria-hidden="true" data-bind="css: selectedCategory().iconClass"></i>
                    </button>
                    <ul class="dropdown-menu">
                    <!-- ko foreach: searchCategories -->
                        <li>
                            <a data-bind="text: name, click: $parent.selectCategory"></a>
                        </li>
                    <!-- /ko -->
                    </ul>
                <!-- /ko -->

            </div><!-- /btn-group -->
         
    </form>
</div>