<!-- This template is used in a webpart Suggestion Box. The following code is only for reference -->
<div id="suggestions-box">

    <div id="title">
        <span class="ms-font-l">Any suggestions?</span>
    </div>

    <div id="line1">

        <div id="image">
            <i class="ms-Icon ms-Icon--lightBulb ms-font-su ms-fontColor-yellow" aria-hidden="true" class="ms-font-xl"></i>        
        </div>

        <div id="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum auctor tempor. Fusce ultrices felis lectus, sit amet faucibus libero malesuada sit amet. Fusce fringilla porta orci in molestie. Maecenas ultrices justo mi, vitae sagittis odio consectetur eget. Nullam ac justo sapien. Fusce sodales nunc eget mi sagittis tincidunt.
        </div>

    </div>

    <div id="line2">
        <div id="action">
            <a href="mailto:someone@example.com?Subject=Intranet%20Feedback" target="_top">

                <span>Send us your feedback</span>
                
            </a>
        </div>
    </div>

</div>