<script type="text/ng-template" id="form-messages">
    <div ng-message="required">This field cannot be blank</div>
    <div ng-message="minlength">The value for this field is too short</div>
    <div ng-message="maxlength">The value for this field is too long</div>
    <div ng-message="pattern">You did not enter the value in the correct format</div>
</script>
<div class="modal-body">

    <div class="row">

        <div class="col-sm-3">

            <div class="modal-left">
                <img src="../images/o365-pnp-logo2.png" class="img-responsive" alt="Office 365 Patterns and Practices Logo" />

                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{'active': getCurrentStep() == 1}" ng-click="setCurrentStep(1)">
                        <a href="#">Welcome</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 2}" ng-click="setCurrentStep(2)">
                        <a href="#">Responsibilities</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 3}" ng-click="setCurrentStep(3)">
                        <a href="#">Intended Use</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 4}" ng-click="setCurrentStep(4)">
                        <a href="#">Template Selection</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 5}" ng-click="setCurrentStep(5)">
                        <a href="#">The Details</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 6}" ng-click="setCurrentStep(6)">
                        <a href="#">Select Owners</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 7}" ng-click="setCurrentStep(7)">
                        <a href="#">Privacy</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 8}" ng-click="setCurrentStep(8)">
                        <a href="#">Confirmation</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="col-sm-9">

            <form name="formWizard" novalidate>

                <div class="modal-right" ng-switch="getCurrentStep()">

                    <!-- Step 1 -->
                    <div class="step" ng-switch-when="1">

                        <div class="modal-right-heading">
                            <h1>Welcome</h1>
                        </div>

                        <div class="modal-right-body">
                            <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
                            <p>Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu.</p>
                            <p>Are you ready? If so, click the next arrow below.</p>
                        </div>

                    </div>

                    <!-- Step 2 -->
                    <div class="step" ng-switch-when="2">

                        <div class="modal-right-heading">
                            <h1>Site Owner Responsibilities</h1>
                        </div>

                        <div class="modal-right-body">
                            <p>Being a site owned has its responsibilites...</p>
                            <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
                            <p>Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.</p>

                            <div class="form-group" ng-class="{'has-success': siteConfiguration.responsibilities.read }">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="siteConfiguration.responsibilities.read" required>
                                        I have read and accept
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-success': siteConfiguration.responsibilities.agreed }">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="siteConfiguration.responsibilities.agreed" required>
                                        I agree to
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Step 3 -->
                    <div class="step" ng-switch-when="3">

                        <div class="modal-right-heading">
                            <h1>Intended Use</h1>
                        </div>

                        <div class="modal-right-body">

                            <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.purposeDescription.$invalid && !formWizard.purposeDescription.$pristine, 'has-success' : formWizard.purposeDescription.$valid && !formWizard.purposeDescription.$pristine }">
                                <label class="control-label" for="purposeDescription">What is your business purpose for this site?</label>
                                <textarea class="form-control" rows="12" name="purposeDescription" id="purposeDescription" ng-model="siteConfiguration.purpose.description" required></textarea>
                            </div>


                            <label>Is this site public or private?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="purposeRadios" value="public" ng-model="siteConfiguration.purpose.type">
                                    Public
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="purposeRadios" value="private" ng-model="siteConfiguration.purpose.type">
                                    Private
                                </label>
                            </div>

                        </div>

                    </div>

                    <!-- Step 4 -->
                    <div class="step" ng-switch-when="4">

                        <div class="modal-right-heading">
                            <h1>Which type of site would you like to create?</h1>
                        </div>

                        <div class="modal-right-body">

                            <div class="media" ng-repeat="template in templates | orderBy: 'displayOrder'" ng-click="selectTemplate(template)" ng-class="{ 'active': template == siteConfiguration.template }">
                                <div class=" media-left">
                                    <img class="media-object" ng-src="{{template.imageUrl}}" alt="Template Icon">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{template.title}}</h4>
                                    {{template.description}}
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Step 5 -->
                    <div class="step" ng-switch-when="5">

                        <div class="modal-right-heading">
                            <h1>Site Details</h1>
                        </div>

                        <div class="modal-right-body">

                            <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.detailsName.$invalid && !formWizard.detailsName.$pristine, 'has-success' : formWizard.detailsName.$valid && !formWizard.detailsName.$pristine }">
                                <label class="control-label" for="detailsName">Give your site a name</label>
                                <input type="text" name="detailsName" class="form-control" id="detailsName" ng-model="siteConfiguration.details.name" required>
                            </div>

                            <div class="form-group form-inline has-feedback" ng-class="{ 'has-error' : formWizard.detailsUrl.$invalid && !formWizard.detailsUrl.$pristine, 'has-success' : formWizard.detailsUrl.$valid && !formWizard.detailsUrl.$pristine }">
                                <label class="control-label" for="detailsUrl">Give your site a URL</label><br />
                                <span>{{siteConfiguration.spNewSitePrefix}}</span>
                                <input type="text" name="detailsUrl" class="form-control" id="detailsUrl" ng-model="siteConfiguration.details.url" ng-model-options="{ debounce: 1000 }" ng-minlength="6" ng-maxlength="50" site-availability-validator required />
                                <div class="error-messages" ng-if="!formWizard.detailsUrl.$pristine" ng-messages="formWizard.detailsUrl.$error">
                                    <div ng-message="required">You did not enter a site url</div>
                                    <div ng-message="minlength">Your field is too short</div>
                                    <div ng-message="maxlength">Your field is too long</div>
                                    <div ng-message="site-loading">Checking for site availability...</div>
                                    <div ng-message="site-available">Sorry, but this site url is already taken</div>
                                </div>

                            </div>

                            <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.detailsDescription.$invalid && !formWizard.detailsDescription.$pristine, 'has-success' : formWizard.detailsDescription.$valid && !formWizard.detailsDescription.$pristine }">
                                <label class="control-label" for="detailsDescription">Give it a description</label>
                                <textarea class="form-control" rows="3" name="detailsDescription" id="detailsDescription" ng-model="siteConfiguration.details.description" required></textarea>
                            </div>

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.detailsRegion.$invalid && !formWizard.detailsRegion.$pristine, 'has-success' : formWizard.detailsRegion.$valid && !formWizard.detailsRegion.$pristine }">
                                        <label class="control-label" for="detailsRegion">Region</label>
                                        <select class="form-control" name="detailsRegion" id="detailsRegion" ng-model="siteConfiguration.details.region" required>
                                            <option>North America</option>
                                            <option>LATAM</option>
                                            <option>APAC</option>
                                            <option>EMEA</option>
                                        </select>
                                    </div>

                                    <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.detailsFunction.$invalid && !formWizard.detailsFunction.$pristine, 'has-success' : formWizard.detailsFunction.$valid && !formWizard.detailsFunction.$pristine }">
                                        <label class="control-label" for="detailsFunction">Function</label>
                                        <select class="form-control" name="detailsFunction" id="detailsFunction" ng-model="siteConfiguration.details.function" required>
                                            <option>Information Technology</option>
                                            <option>Human Resources</option>
                                            <option>Legal</option>
                                            <option>Accounting</option>
                                            <option>Administrative</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.detailsDivision.$invalid && !formWizard.detailsDivision.$pristine, 'has-success' : formWizard.detailsDivision.$valid && !formWizard.detailsDivision.$pristine }">
                                        <label class="control-label" for="detailsDivision">Division</label>
                                        <select class="form-control" name="detailsDivision" id="detailsDivision" ng-model="siteConfiguration.details.division" required>
                                            <option>Corporate</option>
                                            <option>Ipsum</option>
                                            <option>Dolor</option>
                                        </select>
                                    </div>

                                    <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.detailsLanguage.$invalid && !formWizard.detailsLanguage.$pristine, 'has-success' : formWizard.detailsLanguage.$valid && !formWizard.detailsLanguage.$pristine }">
                                        <label class="control-label" for="detailsLanguage">Language</label>
                                        <select class="form-control" name="detailsLanguage" id="detailsLanguage" ng-model="siteConfiguration.details.language" required>
                                            <option>English</option>
                                            <option>Spanish</option>
                                            <option>French</option>
                                            <option>Russian</option>
                                            <option>Mandarin</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- Step 6 -->
                    <div class="step" ng-switch-when="6">

                        <div class="modal-right-heading">
                            <h1>Specify owners and grant permissions</h1>
                        </div>

                        <div class="modal-right-body" ng-controller="PeoplePickerController">
                            <div id="divFieldOwners" class="form-group">
                                <label for="inputAdditionalOwnersPrimary" class="control-label" style="margin-top: 15px !important;">Add additional owners (everyone can use a backup)</label>
                                <div class="ms-core-form-line">
                                    <div id="divAdditionalOwnersPrimary" class="form-control">
                                        <span id="spanAdditionalOwnersPrimary"></span>
                                        <input type="text" id="inputAdditionalOwnersPrimary" class="cam-peoplepicker-edit" placeholder="[names or email addresses]">
                                    </div>
                                    <div id="divAdditionalOwnersPrimarySearch" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>
                                    <input type="hidden" id="hdnAdditionalOwnersPrimary" />
                                </div>
                            </div>
                            <!--<div id="divFieldTitle">
                                <label for="txtTitle" class="control-label" style="margin-top: 15px !important;">Give a title:</label>
                                <div class="ms-core-form-line">
                                    <input type="text" ID="txtTitle" class="ms-fullWidth" >
                                </div>
                            </div>-->

                            <div id="divFieldMembers" class="form-group">
                                <label for="inputMembers" class="control-label" style="margin-top: 15px !important;">Add members: (optional)</label>
                                <div class="ms-core-form-line">
                                    <div id="divMembers" class="form-control">
                                        <span id="spanMembers"></span>
                                        <input type="text" id="inputMembers" class="cam-peoplepicker-edit" placeholder="[names or email addresses]">
                                    </div>
                                    <div id="divMembersSearch" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>
                                    <input type="hidden" id="hdnMembers" />
                                </div>
                            </div>

                            <div id="divFieldVisitors" class="form-group">
                                <label for="inputVisitors" class="control-label" style="margin-top: 15px !important;">Add visitors: (optional)</label>
                                <div class="ms-core-form-line">
                                    <div id="divVisitors" class="form-control">
                                        <span id="spanVisitors"></span>
                                        <input type="text" id="inputVisitors" class="cam-peoplepicker-edit" placeholder="[names or email addresses]">
                                    </div>
                                    <div id="divVisitorsSearch" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>
                                    <input type="hidden" id="hdnVisitors" />
                                </div>
                            </div>

                            <!--<br />

                            <div class="form-group">
                                <label for="permissionsMembers">Members</label>
                                <input type="text" class="form-control" id="permissionsMembers" placeholder="[names or email addresses]">
                            </div>

                            <div class="form-group">
                                <label for="permissionsVisitors">Visitors   </label>
                                <input type="text" class="form-control" id="permissionsVisitors" placeholder="[names or email addresses]">
                            </div>-->

                        </div>

                    </div>

                    <!-- Step 7 -->
                    <div class="step" ng-switch-when="7">

                        <div class="modal-right-heading">
                            <h1>Data Privacy &amp; Security</h1>
                        </div>

                        <div class="modal-right-body">

                            <p>How sensitive is your site content?</p>
                            <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
                            <p> Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback" ng-class="{ 'has-error' : formWizard.privacyClassification.$invalid && !formWizard.privacyClassification.$pristine, 'has-success' : formWizard.privacyClassification.$valid && !formWizard.privacyClassification.$pristine }">
                                        <label class="control-label" for="privacyClassification">Site Classification</label>
                                        <select class="form-control" name="privacyClassification" id="privacyClassification" ng-model="siteConfiguration.privacy.classification" required>
                                            <option>Internal Use Only</option>
                                            <option>Low Business Impact (LBI)</option>
                                            <option>Medium Business Impact (MBI)</option>
                                            <option>High Business Impact (HBI)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Step 8 -->
                    <div class="step" ng-switch-when="8">

                        <div class="modal-right-heading">
                            <h1>Confirmation</h1>
                        </div>

                        <div class="modal-right-body">

                            <p>Please review your site request information for accuracy.</p>
                            <p>Click the back arrow to make changes. To proceed, click the check mark.</p>

                            <table class="table table-striped">
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(5)">Site URL</a></th>
                                    <td>{{siteConfiguration.details.url}}</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(6)">Primary Owner</a></th>
                                    <td>Garth Ford</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(6)">Secondary Owner</a></th>
                                    <td>Jane Doe</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(4)">Site Template</a></th>
                                    <td>{{siteConfiguration.template.title}}</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(5)">Region</a></th>
                                    <td>{{siteConfiguration.details.region}}</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(5)">Division</a></th>
                                    <td>{{siteConfiguration.details.corporate}}</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(5)">Function</a></th>
                                    <td>{{siteConfiguration.details.function}}</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(5)">Language</a></th>
                                    <td>{{siteConfiguration.details.language}}</td>
                                </tr>
                                <tr>
                                    <th><a href="#" ng-click="setCurrentStep(7)">Site Classification</a></th>
                                    <td>{{siteConfiguration.privacy.classification}}</td>
                                </tr>
                            </table>

                            <p><strong>What happens next?</strong></p>
                            <ul>
                                <li>Fusce vel sapien elit in malesuada semper mi.</li>
                                <li>Id sollicitudin urna fermentum ut fusce varius nisl.</li>
                            </ul>
                        </div>

                    </div><!--/step 8-->

                    <div class="modal-right-footer">
                        <span class="btn-image btn-back" ng-if="!isFirstStep()" ng-click="handlePrevious()"></span>
                        <span class="btn-image btn-next" ng-if="!isLastStep()" ng-click="handleNext()"></span>
                        <span class="btn-image btn-check" ng-if="isLastStep()" ng-click="finished()"></span>
                        <span class="btn-image btn-cancel" ng-click="cancel()"></span>
                    </div>

                </div><!--/.modal-right-->

            </form>

        </div><!--/.col-sm-9-->

    </div><!--/.row-->

</div><!--/.modal-body-->
