<div ng-controller="employeesController as ctrl">
    <accordion-group is-open="true">
            <accordion-heading>
                Employees ({{ ctrl.numEmployees }})
            </accordion-heading>
            <div ng-repeat="company in ctrl.companies">
                {{company.Name}} - {{company.Email}}
                <ul>
                    <li ng-repeat="employee in company.Employees">
                        {{ employee.FullName }} - {{ employee.JobTitle }}
                    </li>
                </ul>
            </div>
    </accordion-group>
</div>