
@{
    Layout = null;
}

<script src="@(ViewBag.ServerUrl)/Scripts/TestView.js"></script>
<div style="background-color:lightgray;width:300px;height:100px;padding:10px;margin-top:10px;">
    <table>
        <tr>
            <td>
                <span>Enter name:</span>
            </td>
            <td>
                <input id="TestName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Enter street:</span>
            </td>
            <td>
                <input id="TestStreet" type="text" />
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button id="TestPostButton">Post data to server</button>
            </td>
        </tr>
    </table>
</div>
