<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="Client ID" />
    <add key="ClientSecret" value="Encrypted Secret in Production" />
    <add key="EmailSiteOwnerChangeTemplate" value="Physical path of ChangeOwnerEmail.html" />
    <add key="SPChangeOwnerWeb_Version" value="1.0.0.0" />
    <add key="SupportedDomains" value="contoso.onmicrosoft.com,contosotest.onmicrosoft.com" />
    <add key="OutputFileLocation" value="Physical path of output folder" />
    <add key="TenantAdminUrl" value="https://contoso-admin.sharepoint.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="Contoso, SharePoint Online Operations &lt;do-not-reply@contoso.com &gt;">
        <network defaultCredentials="true" enableSsl="false" host="smtp3.contoso.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>