<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.3912.1204" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="OfficeDevPnPCore16" version="1.6.0915.0" targetFramework="net45" />
</packages>