@{
    ViewBag.Title = "About";
}

<div class="ms-Grid-row ms-bgColor-themeDark ms-fontColor-white intro">
    <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
        <h2 class="ms-font-su ms-fontColor-white">@ViewBag.Title.</h2>
        <h3 class="ms-font-xl ms-fontColor-white">@ViewBag.Message</h3>
    </div>
</div>
<div class="ms-Grid-row spacer">
    <div class="ms-Grid-col ms-u-lg10 ms-u-xl8 ms-u-xlPush2 ms-u-lgPush1">
        <p class="ms-font-m">Use this area to provide additional information.</p>
    </div>
</div>