<?xml version="1.0" encoding="utf-8"?>
<TemplateConfiguration Version='1.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <Templates>
    <!--  StorageMaximumLevel Minimum 110 
          For on-prem & SPOD Storage and UserCode are not used. These properties are only available 
      -->
    <Template Title="SPO Team Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="../images/template-icon.png"
              HostPath="https://marascoonline.sharepoint.com/sites/"
              TenantAdminUrl="https://marascoonline-admin.sharepoint.com"
              SharePointOnPremises ="false"
              RootTemplate="STS#0"
              RootWebOnly="false"
              StorageMaximumLevel="110"
              StorageWarningLevel="0"
              UserCodeMaximumLevel="100"
              UserCodeWarningLevel="0"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="true"/>
    <Template Title="SharePoint On-Premises Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="../images/template-icon.png"
              HostPath="https://spsites.marascohome.com/sites/"
              TenantAdminUrl="https://spsites.marascohome.com/sites/msotenantcontex"
              SharePointOnPremises ="true"
              RootTemplate="STS#0"
              RootWebOnly="true"
              StorageMaximumLevel="110"
              StorageWarningLevel="0"
              UserCodeMaximumLevel="110"
              UserCodeWarningLevel="0"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="true"/>
    <Template Title="TEMPLATE3"
              Description="Template 3"
              ImageUrl ="../images/template-icon.png"
              HostPath="https://team.com/"
              TenantAdminUrl="https://marascoonline-admin.sharepoint.com"
              SharePointOnPremises ="false"
              RootTemplate="STS#0"
              RootWebOnly="false"
              StorageMaximumLevel="100"
              StorageWarningLevel="0"
              UserCodeMaximumLevel="100"
              UserCodeWarningLevel="0"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="false"/>
  </Templates>
</TemplateConfiguration>
