<?xml version="1.0" encoding="utf-8"?>
<TemplateConfiguration Version='1.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <Templates>
    <!--  StorageMaximumLevel Minimum 110 
          For on-prem & SPOD Storage and UserCode are not used. These properties are only available 
      -->
    <Template Title="SPO Team Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="https://michely.sharepoint.com/sites/createasite/SiteAssets/TeamSiteLogo.png"
              HostPath="https://michely.sharepoint.com/sites/"
              TenantAdminUrl="https://michely-admin.sharepoint.com"
              SharePointOnPremises ="false"
              RootTemplate="STS#0"
              RootWebOnly="false"
              StorageMaximumLevel="1024"
              StorageWarningLevel="1024"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="true"/>
    <Template Title="SPO Team Site Sub Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="https://michely.sharepoint.com/sites/createasite/SiteAssets/TeamSiteLogo.png"
              HostPath="https://michely.sharepoint.com/sites/"
              TenantAdminUrl="https://michely-admin.sharepoint.com"
              SharePointOnPremises ="false"
              RootTemplate="STS#0"
              RootWebOnly="false"
              StorageMaximumLevel="1024"
              StorageWarningLevel="1024"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              ProvisioningTemplate="EmptySubSiteTemplate.xml"
              Enabled="true"/>
    <Template Title="SharePoint On-Premises Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="https://michely.sharepoint.com/sites/createasite/SiteAssets/TeamSiteLogo.png"
              HostPath="https://spsites.brian-michely.com/sites/"
              TenantAdminUrl="https://spsites.brian-michely.com/sites/msotenantcontex"
              SharePointOnPremises ="true"
              RootTemplate="STS#0"
              RootWebOnly="true"
              StorageMaximumLevel="1024"
              StorageWarningLevel="1024"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="true"/>    
  </Templates>
</TemplateConfiguration>
