@{
    ViewBag.Title = "Data Storage Models";
}

<div class="cdsm_CSR">
    <div class="cdsm_common_display">
        <div class="cdsm_title">My CSR Info</div>
        <div class="cdsm_content">
            <div class="cdsm_Name">@ViewBag.UserName</div>
            <div class="cdsm_Other_Infor">

                <div class="cdsm_top"></div>

                <div class="cdsm_middle">@ViewBag.Score</div>
                <div class="cdsm_bottom">/100</div>
            </div>
        </div>
    </div>
</div>
