@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Connect</h2>
        <p>Use this page to connect your Office 365 Connector with a target Office 365 Group.</p>
        <p>
            <!-- This is the HTML code that you should copy from the registration page, if you like -->
            <a href="https://outlook.office.com/connectors/Connect?state=SampleStateInput&app_id=fd3684b8-4697-41ef-bf1d-3b8894d225f1&callback_url=https://localhost:44361/Home/Connect">
                <img src="https://o365connectors.blob.core.windows.net/images/ConnectToO365Button.png" alt="Connect to Office 365" />
            </a>
        </p>
    </div>
</div>