@model IList<Patterns.Provisioning.Common.SiteRequestInformation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="/Content/js/main.js"></script>
    <script type="text/javascript">
    var __hostUrl = '@ViewBag.HostUrl';
    </script>
}

<h2>Provisioning Service Requests</h2>

<h3>Site Requests</h3>

<a href="javascript:LaunchWizard();">Create a new request</a>

<table>
    <tr>
        <th style="width:200px">Title</th>
        <th style="width:200px">Template</th>
        <th>Url</th>
    </tr>
    @foreach (var request in Model) {
        <tr>
            <td>@request.Title</td>
            <td>@request.Template</td>
            <td>@request.Url</td>
        </tr>
    }
</table>

<div id="dialog">
    <iframe frameborder="0" scrolling="no" width="940" height="650"></iframe>
</div>
