<?xml version="1.0" encoding="utf-8"?>
<TemplateConfiguration Version='1.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <Templates>
    <!--  StorageMaximumLevel Minimum 110 
          For on-prem & SPOD Storage and UserCode are not used. These properties are only available 
      -->
    <Template Title="SPO Team Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="https://contoso.sharepoint.com/sites/createasite/SiteAssets/TeamSiteLogo.png"
              HostPath="https://contoso.sharepoint.com/sites/"
              TenantAdminUrl="https://contoso-admin.sharepoint.com"
              SharePointOnPremises ="false"
              RootTemplate="STS#0"
              RootWebOnly="false"
              SubWebOnly="false"
              StorageMaximumLevel="1024"
              StorageWarningLevel="1024"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              ProvisioningTemplateContainer="Resources/SiteTemplates/ProvisioningTemplate/"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="true"/>
    <Template Title="SPO Sub Site (Team Site)"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="https://contoso.sharepoint.com/sites/createasite/SiteAssets/TeamSiteLogo.png"
              HostPath="https://contoso.sharepoint.com/sites/"
              TenantAdminUrl="https://contoso-admin.sharepoint.com"
              SharePointOnPremises ="false"
              RootTemplate="STS#0"
              RootWebOnly="false"
              SubWebOnly="true"
              StorageMaximumLevel="1024"
              StorageWarningLevel="1024"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              ProvisioningTemplateContainer="Resources/SiteTemplates/ProvisioningTemplate/"
              ProvisioningTemplate="SubSiteTeamsTemplate.xml"
              Enabled="true"/>
    <Template Title="SharePoint On-Premises Site"
              Description="Team sites should be used for team collaboration and offer basic document and project management features.  Team sites also offer a default team notebook and site feed"
              ImageUrl ="https://contoso.sharepoint.com/sites/createasite/SiteAssets/TeamSiteLogo.png"
              HostPath="https://spsites.user-contoso.com/sites/"
              TenantAdminUrl="https://spsites.user-contoso.com/sites/msotenantcontex"
              SharePointOnPremises ="true"
              RootTemplate="STS#0"
              RootWebOnly="true"
              SubWebOnly="false"
              StorageMaximumLevel="1024"
              StorageWarningLevel="1024"
              UserCodeMaximumLevel="0"
              UserCodeWarningLevel="0"
              ProvisioningTemplateContainer="Resources/SiteTemplates/ProvisioningTemplate/"
              ProvisioningTemplate="TeamSiteTemplate.xml"
              Enabled="true"/>    
  </Templates>
</TemplateConfiguration>
