<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SPOTenantUrl" value="https://[tenant]-admin.sharepoint.com" />
    <add key="SPODevSiteUrl" value="https://[tenant].sharepoint.com/sites/dev" />
    <add key="SPOUserName" value="user@[tenant].onmicrosoft.com" />
    <add key="SPOPassword" value="" />
  </appSettings>
</configuration>