<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- For Office 365 MT sites are https://[tenant]-admin.sharepoint.com and https://[tenant].sharepoint.com/sites/dev, for on-premises
         you can any Developer site collection (e.g https://sp.contoso.com/sites.dev). For tenant adminstration you'll need to specify the 
         site collection you've marked as tenant administrator. This site collection must be in the same web app as the Developer site. See 
         http://blogs.msdn.com/b/vesku/archive/2014/06/09/provisioning-site-collections-using-sp-app-model-in-on-premises-with-just-csom.aspx
         for more details on how to setup a tenant administration site in on-premises.
    -->
    <add key="SPOTenantUrl" value="https://tenant-admin.sharepoint.com" />
    <add key="SPODevSiteUrl" value="https://tenant.sharepoint.com/sites/TestingSite" />

    <add key="SPOCredentialManagerLabel" value="crendetials" />
    <!-- If the above value is specified, a lookup will be done to the Windows Credential
    manager for a -Windows- Credential that maps to the label. If not specified, it assumes you want to specify on
    of the below options. Value will be taken based on the what's entered in this order:
    1. O365 username/pwd
    2. On-premises username/pwd
    3. App only (O365 & On-premises) 
    -->

    <!-- Priority 1: For testing against Office 365 provide a username and password -->
    <add key="SPOUserName" value="username" />
    <add key="SPOPassword" value="password" />

    <!-- Priority 2: For testing against on-premises provide a username, domain and password -->
    <add key="OnPremUserName" value="user" />
    <add key="OnPremDomain" value="domain" />
    <add key="OnPremPassword" value="" />

    <!-- Priority 3: For app only testing provide a realm, app id and app secret -->
    <add key="Realm" value="a6623c9e-30c7-493b-87bc-d907df44a26e" />
    <add key="AppId" value="b5bdf20c-2917-5178-3309-5deb57ee6c89" />
    <add key="AppSecret" value="" />

    <!-- Permission XML for app only test
  <AppPermissionRequests AllowAppOnlyPolicy="true" >
    <AppPermissionRequest Scope="http://sharepoint/content/tenant" Right="FullControl" />
    <AppPermissionRequest Scope="http://sharepoint/taxonomy" Right="Write" />
    <AppPermissionRequest Scope="http://sharepoint/search" Right="QueryAsUserIgnoreAppPrincipal" />
    <AppPermissionRequest Scope="http://sharepoint/social/tenant" Right="FullControl" />
  </AppPermissionRequests>    
    -->

    <!-- Support for Azure based testing -->
    <add key="AzureStorageKey" value="DefaultEndpointsProtocol=https;AccountName=name;AccountKey=key" />

  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="OfficeDevPnP.Core" switchValue="Verbose">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <trace indentsize="0" autoflush="true">
      <listeners>
        <add name="console" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>