<div class="ms-NavBar-openMenu js-openMenu">
	<i class="ms-Icon ms-Icon--menu"></i>
</div>
<ul class="ms-NavBar-items" style="margin-left:5%">
	<li class="ms-NavBar-item ms-NavBar-item--search ms-u-hiddenSm">
      <div class="ms-TextField" data-bind="loadSearchBox: true">
        <!-- Search box is loaded here -->
      </div>
    </li>
	<!-- ko foreach: nodes -->
        <!-- ko ifnot: excludeFromGlobalNavigation() -->
        <li class="ms-NavBar-item ms-NavBar-item--hasMenu" data-bind ="css : { 'is-selected' : isCurrentNode }">
            <!-- ko if: iconCssClass -->
            <i class="ms-Icon" aria-hidden="true" data-bind="css: iconCssClass"></i>
            <!-- /ko -->
            <a class="ms-NavBar-link" data-bind="text: title, attr: { href: url }"></a>
            <!-- ko if: hasChildren -->
            <i class="ms-NavBar-chevronDown ms-Icon ms-Icon--chevronDown"></i>
            <ul class="ms-ContextualMenu">
                <!-- ko foreach: children -->
                    <!-- ko ifnot: excludeFromGlobalNavigation() -->
                    <li class="ms-ContextualMenu-item">
                        <!-- ko if: hasChildren -->
                        <a class="ms-ContextualMenu-link ms-ContextualMenu-link--hasMenu" data-bind="text: title, attr: { href: url }"></a>
                        <i class="ms-ContextualMenu-subMenuIcon ms-Icon ms-Icon--chevronRight" style="line-height :40px!important"></i>
                        <ul class="ms-ContextualMenu">
                            <!-- ko foreach: children -->
                                <!-- ko ifnot: excludeFromGlobalNavigation() -->
                                <li class="ms-ContextualMenu-item">
                                    <a class="ms-ContextualMenu-link" data-bind="text: title, attr: { href: url }"></a>
                                </li>
                                <!-- /ko -->
                            <!-- /ko -->
                        </ul>
                        <!-- /ko -->
                        <!-- ko ifnot: hasChildren -->
                        <a class="ms-ContextualMenu-link" data-bind="text: title, attr: { href: url }"></a>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                <!-- /ko -->
            </ul>
            <!-- /ko -->
        </li>
        <!-- /ko -->
    <!-- /ko -->
</ul>