<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <appSettings>
    <add key="EncryptionThumbPrint" value="676E6C5A6D6DA88A0182B6B89EA0BA8ED8F628CA" />
    <add key="AppId" value="a4cdf20c-3385-4664-8302-5eab57ee6f14" />
    <add key="AppSecret" value="I3rODTSFMI/JFlwg3ma+L9lUlGpNc1Ge7l8IhSOAAqEJ+lIvKr9ri1qQwa1G9nbxH4xUjtHcwrZOfCM4CFho6vSXbWnYiaO3/ZpMnqV2nqJfmmpVI7N08GmVgCxTpigyfekRJWsBhN1PN/cMbt27zW/BI2UDRN3Tt0eFYYt8U17bw8YosmZKNZe8IfCjUfFHRGNlYHvgA4u0J7Oeh+ch6115dTC43iBKQv5Z1D+i0KQMhebj0DYD/S5MnmNzOxcFZ/qetNCie9z/I58rXzZG3UgMMJ+CHYLhMjj6+IDpnDjAaBntLMXU5RdUxVXDW3xreU+PxgBWIvuCe/DEJOln6A==" />
    <add key="Realm" value="d8623c9e-30c7-473a-83bc-d907df44a26e" />
  </appSettings>
  
</configuration>