@model Governance.ExternalSharingTimer.Web.ExternalShare

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div>
    <hr />
    <p>The external share details were not provided or may no longer exist. This can occur when the external user access has already been revoked or by navigating directly to this site instead of through a expiration notice email.</p>
</div>