@model Governance.ExternalSharingTimer.Web.ExternalShare

@{
    ViewBag.Title = "Revoke";
}

<h2>External Access Revoked</h2>
<div>
    <hr />
    <p>The external access for @Html.DisplayFor(model => model.LoginName) has been revoked for the site at <a href="@Html.DisplayFor(model => model.SiteCollectionUrl)">@Html.DisplayFor(model => model.SiteCollectionUrl)</a></p>
</div>