@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome @ViewBag.UserName!</h2>
    <p class="lead"><b>Apps for SharePoint - </b>Embracing web standards, the new cloud app model gives you maximum choice and flexibility to build a new class of apps for SharePoint using familiar languages, tools, and hosting services.</p>
    <p><a href="http://dev.office.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>SharePoint introduces a Cloud App Model that enables you to create apps. Learn what apps for SharePoint are, why you should build them, and the concepts that are fundamental to building them for SharePoint.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294439">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Samples</h2>
        <p>Download apps for SharePoint code samples. New samples are added frequently in JavaScript, C#, and VB.NET.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294440">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer training</h2>
        <p>Learn about apps for SharePoint with this interactive course offering developer-focused how to training and walkthrough videos.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294441">Learn more &raquo;</a></p>
    </div>
</div>
