@import '../../styles/css/variables';

.ms-Panel-commands button {
  min-width: inherit;
}

#bot-webchat {
  
  i {
    margin-right: 4px;
  }

  .is-botdisabled {
    display: none;
  }
}

/* reset */

body .wc-app {
  font-family: $font-primary;
  font-size: 15px;
}

.wc-app {
  button, input, textarea {
    font-family: $font-primary;
    font-size: 15px;
  }
  button {
    background-color: $primary-color;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color .2s ease, background-color .2s ease;
  }
  h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
  }
  audio, video {
    display: block;
  }
}

/* docking */

.wc-hidden {
  visibility: hidden;
}

.wc-header {
  background-color: $navbar-l1-background-color;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  color: #fff;
  font-weight: 500;
  height: 30px;
  left: 0;
  letter-spacing: 0.5px;
  padding: 8px 8px 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.wc-time {
  color: #999;
  margin-bottom: 10px;
}

.wc-message-groups {
  bottom: 50px;
  left: 0;
  transform: translateY(0);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 38px;
  transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
  font-family: $font-primary;
}

.wc-message-group-content {
  overflow: hidden;
}

.wc-suggested-actions {
  background-color: #f9f9f9;
  bottom: 50px;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: height 0.2s cubic-bezier(0, 0, 0.5, 1);
  .wc-hscroll > ul {
    height: 40px;
    padding: 2px 3px;
    > li {
      display: inline-block;
      margin: 2px;
      max-width: 40%;
      button {
        background-color: #fff;
        color: $primary-color;
        min-height: 32px;
        overflow: hidden;
        padding: 0 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        &:hover {
          background-color: #fff;
          border-color: $primary-color;
          color: $primary-color;
        }
        &:active {
          background-color: $primary-color;
          border-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
  button.scroll {
    background-color: #d2dde5;
    height: 40px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 28px;
    &:disabled {
      display: none;
    }
    &:hover {
      background-color: #808c95;
    }
    svg {
      fill: #fff;
      path {
        transform: translateY(6px);
      }
    }
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}

.wc-message-pane.show-actions {
  .wc-message-groups {
    transform: translateY(-40px);
  }
  .wc-suggested-actions {
    height: 40px;
  }
}

.wc-console {
  border: 5px solid #dbdee1;
  bottom: 0;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
}

/* views */

.wc-chatview-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

/* messages */

.wc-message-wrapper {
  animation: animationFrames 2s;
  animation-iteration-count: 1;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  /*transition: max-height 2s ease-in-out;*/
}

@keyframes animationFrames {
  0% {
    /*max-height: 0;*/
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    /*max-height: 2000px;*/
  }
}


.wc-message {
  position: relative;
}

.wc-message-wrapper.carousel .wc-message {
  max-width: none;
  padding-right: 8px;
}

.wc-message svg.wc-message-callout {
  height: 22px;
  position: absolute;
  stroke: none;
  top: 12px;
  width: 6px;
}

.wc-message-content {
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  word-break: break-word;
  &.clickable {
    cursor: pointer;
  }
  &.selected {
    box-shadow: 0px 1px 1px 0px #ffa333;
  }
  img {
    max-height: 320px;
    max-width: 100%;
  }
  .video iframe {
    border: 0;
  }
  audio, video {
    max-width: 100%;
  }
  audio + h1, video + h1 {
    margin-top: 11px;
  }
}

.wc-message-from {
  clear: both;
  color: #999;
  font-size: 11px;
  margin-top: 5px;
}

/* cards */

.wc-card {
  background-color: #fff;
  font-size: 13px;
  button {
    background-color: transparent;
    color: $primary-color;
    min-height: 32px;
    width: 100%;
    padding: 0 16px;
    &:hover {
      background-color: transparent;
      border-color: $primary-color;
      color: $primary-color;
    }
    &:active {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
    }
  }
  h1 {
    font-size: 15px;
    font-weight: 700;
  }
  h2 {
    color: #808c95;
    font-size: inherit;
    font-weight: normal;
    margin-bottom: 8px;
  }
  p {
    padding-bottom: 10px;
  }
  h1, h2 {
    margin-left: 8px;
    margin-right: 8px;
  }
  p {
    margin-left: 8px;
    margin-right: 8px;
    h2 {
      /* don't double indent */
      margin-left: 0;
    }
  }
  ul.wc-card-buttons {
    clear: both;
    display: table;
    li {
      list-style-type: none;
      text-align: center;
      float: left;
      margin: 2px;
    }
  }
  &.hero img {
    display: block;
    margin-bottom: 11px;
  }
  &.receipt {
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: right;
      vertical-align: top;
    }
    th:first-child, td:first-child {
      text-align: left;
    }
    th {
      color: #808c95;
      font-size: inherit;
      font-weight: normal;
      line-height: 1.75;
    }
    thead tr:last-child th {
      padding-bottom: 16px;
    }
    th[colspan="2"] {
      color: inherit;
      font-size: 15px;
      font-weight: 700;
    }
    td {
      padding: 4px 8px 0 8px;
      img {
        float: left;
        margin: 5px 8px 8px 0;
        max-height: 50px;
        max-width: 50px;
      }
    }
    div {
      &.title {
        font-weight: bolder;
      }
      &.subtitle {
        font-weight: lighter;
      }
    }
    tbody tr, tfoot tr {
      border-top: 1px solid #d2dde5;
    }
    tbody tr:first-child {
      border-top-width: 2px;
    }
    tfoot {
      tr:first-child {
        border-top-width: 2px;
      }
      td {
        line-height: 2.25;
      }
      .total {
        font-weight: bold;
      }
    }
  }
  &.thumbnail img {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
  }
  &.signin h1 {
    margin: 10px 24px 16px 14px;
  }
}

/* alternate chat sizes */

.wc-message {
  max-width: 85%;
}

.wc-card {
  border: 1px solid #d2dde5;
  padding: 8px;
  width: 100%;
}

.wc-wide .wc-card {
  border: 1px solid #d2dde5;
  padding: 8px;
  width: 398px;
}

.wc-narrow .wc-card {
  border: 1px solid #d2dde5;
  padding: 8px;
  width: 198px;
}

/* list */

.wc-list > .wc-card {
  margin-top: 8px;
  &:first-child {
    margin-top: 0;
  }
}

/* horizontal scroll */

.wc-hscroll-outer {
  /* allow horizontal scrolling but hide the scrollbar */
  overflow: hidden;
}

.wc-hscroll {
  /* allow horizontal scrolling but hide the scrollbar */
  overflow-x: scroll;
  overflow-y: hidden;
  > ul {
    white-space: nowrap;
    > li {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }
}

/* carousel */

.wc-carousel {
  position: relative;
  button.scroll {
    background-color: #d2dde5;
    height: 28px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 28px;
    &:disabled {
      display: none;
    }
    &:hover {
      background-color: #808c95;
    }
    svg {
      fill: #fff;
    }
    &.previous {
      left: -16px;
    }
    &.next {
      right: -16px;
    }
  }
  .wc-hscroll > ul {
    margin-left: -4px;
    > li {
      padding: 0 4px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  li p {
    min-height: 4em;
    white-space: normal;
  }
}

/* from me */

.wc-message-from-me {
  float: right;
  margin-right: 6px;
  &.wc-message-from {
    text-align: right;
  }
  .wc-message-content {
    background-color: $primary-color;
    color: #fff;
  }
  svg.wc-message-callout {
    path {
      fill: $primary-color;
      &.point-left {
        display: none;
      }
    }
    right: -6px;
  }
}

/* from bot */

.wc-message-from-bot {
  float: left;
  margin-left: 8px;
  .wc-message-content {
    background-color: #eceff1;
    color: #000;
  }
  svg.wc-message-callout {
    path {
      fill: #eceff1;
      &.point-right {
        display: none;
      }
    }
    left: -6px;
  }
}

/* console */

.wc-console {
  > * {
    position: absolute;
    top: 0;
    vertical-align: middle;
  }
  label {
    cursor: pointer;
    display: inline-block;
    height: 40px;
  }
  svg {
    fill: #8a8a8a;
    margin: 11px;
  }
  textarea, input[type=text] {
    border: none;
    height: 100%;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;
  }
}

.wc-send svg {
  height: 18px;
  width: 27px;
}

.wc-upload svg {
  height: 18px;
  width: 26px;
}

#wc-upload-input {
  display: none;
}

.wc-textbox {
  bottom: 0;
  left: 48px;
  right: 49px;
}

.wc-send {
  right: 0;
}

.wc-console.has-text .wc-send svg {
  fill: $primary-color;
}

/* animation */

.wc-typing {
  background-image: url("data:image/gif;base64,R0lGODlhQAAYAPYBAOzv8evu8Ort7+fq7Ons7ujr7eXo6uTn6ebp6+Xn6ebo6uzu8OPm6OTm6OPm5+Tn6N/i4+Ll59/i5N7h4+Hk5uDj5evu7+Hk5d/h49PV18PFx7/BwsfJysXHyMLExdja3Nfa28vNz72/wL7Awc/S08TGyMDCw9TW2NbY2t3g4trd39bZ2szO0M7Q0dnb3djb3Nvd39ve4Nnc3dze4Nrc3t7g4tzf4dXX2d3f4d7h4tnc3tve383P0MrMzs7Q0sjKzNLU1s/R08jKy9DT1NfZ293g4efp68bIyby+v9bZ27q8vdHT1c7R0uvt78nLzM/R0tjb3ens7bO0tbS2t7GztK+xsrW3uK6vsLe4utfa3L/Awtzf4MnLzamqq5WWl66wsbm7vNrd3uXo6a2ur6yurp2en6KjpKusrZ+goKeoqers7urt7peXmIGBgYSEhHx8fJmamqipqnZ2doqLi8XHyY2NjpGSkpOUlJiYmZOTlI+QkJqbm4eIiJucnIuMjP///yH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MEY0RUJCMDNENkM4MTFFNkI5RENGRDgzMjAyQjU3QzUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MEY0RUJCMDRENkM4MTFFNkI5RENGRDgzMjAyQjU3QzUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowRjRFQkIwMUQ2QzgxMUU2QjlEQ0ZEODMyMDJCNTdDNSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDowRjRFQkIwMkQ2QzgxMUU2QjlEQ0ZEODMyMDJCNTdDNSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAUOAAEAIf4YT3B0aW1pemVkIHdpdGggZXpnaWYuY29tACwAAAAAQAAYAAACJoSPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gvH8kzX9o3n+l0AACH5BAUHAAAALD4ACQACAAYAAAIERI5oBQAh+QQFBwAOACwsAAcAFAAJAAAEJRDISZetmJQ9uhcZyClGSY4hYjbHKqYs06ooLLuBPeM6b2u1SgQAIfkEBQcADQAsGAAHACUACQAABlFAgHAYKBqJyKRS+ahMchKnoSBYWq0Mp+rzimEiiUH1SjaCd64VioaTEo5lbA3GvaWjCmpcfnl27TZ4ent8Mmo6KW6EhXSIEGCDi4VZCG+SSUEAIfkEBQcABgAsEQAHABcACQAAB0aAAIKDAoSGh4RELD8sHwkBiJEoIUKVPSAHkJGJQZaWNQSbnJ6VMAOigzI8pDwxp6gCKUOMnhKFsAgvi59GuKkZPhkTBb6BACH5BAUHAAQALA8ABwANAAkAAAYsQICwYAgMj0LWZokSIAedpTSDREmvxaHyyjy2uN2hCqwZVLmqp2DF0bAkzyAAIfkEBRUABQAsDgAHAAoACQAABidAgDBgGAyHH5NoyUAunxuEcANdkqbVJTa7hZ6EkFFVcAx5ShmCMAgAIfkEBQcAAAAsLAAHABAACQAABC0QyClXpZWUwbsOU/AhSWmQGyiOB+Mq3rJ6zosKM22n+d2YqQzvBOOFcMOgJAIAIfkEBQcAAwAsIQAHABsACQAAB0yAAIKDAgGEh4iJKStLGTARBYmShDgoJEyYNBSRk4ouQJiZNQeFnYc5II2hJzMOBKanH6qiDK+wlBlBqxMGhreDE6m0Ub+xjBi9xYKBACH5BAUHAAYALB0ABwAQAAkAAAc+gACCAgoFg4eIGSNKSj0MiIckjJNHB5AAEiaTkzcBkC8im4w8BJ+hoj6lkBqiSC+XAUmnowOwsT8bJSiGl4EAIfkEBQcAAgAsHAAHAAsACQAABy2AAIIGDIOGRVhXijeHVYqPjIIej5QBglKUjweXmYoIkp0ClpyVhghCiRoUhoEAIfkEBRUAAgAsGwAHAAoACQAAByyAAIKCB4ODMlNkijKHY4qPMIJgj49ggpSUAQBXmIqSnRuEVJgMhiWJJQmCgQAh+QQFBwAAACwxAAcADQAJAAAEJRDICQKdgQyktrBS5h0G91WfSXYaWqjrK8rx6LL1cpf8GaY2SQQAIfkEBQcABgAsKwAHABMACQAABzyAAIKDBISGhzwbSB4ZCIeIIouLQI6PgjcmkpI4AZYDJCOak4WWQ1qiJi8Cnh8eqBiel6GbpLEgHIycsYEAIfkEBQcAAgAsKQAHAA0ACQAABzyAAIIBEhQBg4gBXHh1dWUZiQCLjZQriWWUlF2Hghh2mY14A4MVn6B7UYhmoHVSnJ13maiROFdse1YMiYEAIfkEBQcAAwAsDgAHACUACQAAB2OAA4KCBYOGh4iIETBRAI6PIIYNiZSHKWxymVUCkIcmlaAHbpmkcQCVQ6CUUqStKaeJR6qJcK2kdI6zugNltplOjh6IN7uGJr5vB44YngTFgwKYrRuPwR4dAwLPklNzbV4sj4EAIfkEBQcACgAsCwAHACcACQAAB2qAAIKDBAEACoiJiouMiQ4qBYSCLiw/LCsHho2bjF6KhpM9lpY3D4KcnAmMXaGjozECh6izihMFM5Wul5G0vQodBDY8uruyvqhcARVAxDgWxscbjQatrwOnx4mem8EZLUApkdDZClKJPIKBACH5BAUHAAoALAQABwASAAkAAAdCgACCCwEWhoOIiQMRKTQxFQYCioiMMi8fMJAEk5sQKpegjIWTEzqhNhcIo4qlpxSqnBWZroSxpi4zr5KcnTWei5yBACH5BAUHAAYALAAABwAQAAkAAAMRCLrc/rCIEIe9tOKpd/dfqCUAIfkEBRUAAQAsAAAIAAcACAAAAgaEj6nL7VAAIfkEBQcABQAsGwAHAAoACQAABzSAAIICDAODgyxSX1UeDYiLkEoIABJUkJBDADeXkZqci0eUU58ogkBVlxoEgzobVkpLqwCBACH5BAUHAAMALBMABwARAAkAAAdPgACCgwIEhoSIhTJBRx08RBSFiRQvTBoimI8VkoQ4GU4bmKFLMAqTS42iji8RAYgwqCOqQS4Mpz2hmUAxCJMqQ6mrrYmuOShPLSc2Bq6EgQAh+QQFBwAJACwHAAcAGgAJAAAHWIAAgoMBhYaEiImDFTNZRC44FAiHiomMK0A+mTaSlJWCEUVQJySaNzoYDAWfiJIfGUymkBEDrIuusLI1tJ6VDrs3pUMoKhANBLa3W4+lLym8ycqczwer0YEAIfkEBQcACwAsAAAHABYACQAABS4gIAbkaJ5oVF3HIJTpqWJ048bpVKsFjM+7xA03WgV7xOIRmUQ4jKxh0/V0+oghACH5BAUVAAEALAAABwAKAAkAAAIIhI+py+0PYQEAIfkEBQcABQAsJgAHAAwACQAAB0qAAIIEYhQGAYODN1R1bnpXN4iCGV98bZd+ZxmIFx54l6B4SodhYI2gbXZUOQAwSnqoqVMYrSV9sWUbA5NYp7IwiRgaZndmHhWDgQAh+QQFBwAHACwZAAcAGAAJAAAHboAAgoMEhYYBhImJMUMcGyNII0JANQWKimEkHUpVaWlUSkdLOFGXgxIoIY9dZWZnWCYsRBGmgikZPyJSnmhdU1pOJxKIpkW4kLy+kjfDtRWpHlhnvWOwPB8NxMXHVGevyxBqtacgQSFcTsFQtOOBACH5BAUHAAMALAkABwAgAAkAAAdtgACCgwKFhoSIiYoFFWEZPi1PJDczEQSLmIONQCElGyYckZUFmZg2KEwcHkqsPUsfEwYBpYkRMDc8R59gHkJBKzgNh7SCtriqvL2/KQzDxGIpK0FOq0jKsLLPiConLLrXNs3atS6UqDQS2eMAgQAh+QQFBwALACwAAAcAGQAJAAAHUIAAAYNNhIKHiImIDDk6ICoSCQSKlIg1MjcnmRAHk5WKFTErmqQURoafghA0KKStoQKplpCuMRUKsbKqW0S1EQOoshispQa5urtFMxO/x8iBACH5BAUHAAIALAAABwALAAkAAAIJhI+py+3xolwFACH5BAUHAAEALAAACQABAAUAAAIChF0AOw==");
  background-repeat: no-repeat;
  height: 20px;
  width: 64px;
}

.wc-animate-scroll {
  left: 0;
  position: absolute;
  transition: left .8s ease;
}

.wc-animate-scroll-rapid {
  left: 0;
  position: absolute;
  transition: left .4s ease;
}

.wc-animate-scroll-near {
  left: 0;
  position: absolute;
  transition: left .3s ease-in-out;
}

/* text formats */

.format-markdown {
  > p {
    margin-bottom: 0px;
  }
  code {
    white-space: pre-wrap;
  }
  + div {
    margin-top: 8px;
  }
  ol {
    padding-left: 30px;
    /* numbers are right-aligned to the period */
  }
  ul {
    padding-left: 33px;
  }
}

/* browser scrollbar customization */

.wc-app {
  ::-webkit-scrollbar {
    width: 8px;
    * {
      background-color: transparent;
    }
  }
  ::-webkit-scrollbar-thumb {
    background-color: #dbdee1;
  }
}