@model AzureAD.RedisCacheUserProfile.Models.UserProfile
@{
    ViewBag.Title = "GetPropertiesForUser";
}

<h2>GetPropertiesForUser</h2>
User Principal Name: @Model.userPrincipalName
<br />
Display Name: @Model.displayName
<br />



Ellapsed time: @ViewData["EllapsedTime"]



