@{
    ViewBag.Title = "Chapter 5 - Mail, Calendar, and Contacts";
}

<div class="row">
    <div class="col-md-12">
        <p>
            In this section you can find samples related to the Mail, Calendar, and Contacts APIs.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mail</h2>
        <p><a class="btn btn-default" href="/MailCalendarContacts/Messages">List Messages &raquo;</a></p>
        <p><a class="btn btn-default" href="/MailCalendarContacts/Messages">Send Message &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p><a class="btn btn-default" href="/MailCalendarContacts/Messages">Show Calendar Events &raquo;</a></p>
        <p><a class="btn btn-default" href="/MailCalendarContacts/Messages">Send Meeting Request &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacts</h2>
        <p><a class="btn btn-default" href="/MailCalendarContacts/Messages">List Contacts &raquo;</a></p>
        <p><a class="btn btn-default" href="/MailCalendarContacts/Messages">Add Contact &raquo;</a></p>
    </div>
</div>

