
@{
    ViewBag.Title = "Waiting On Site";
}


<div style="display: inline">

    <h2><i class="fa fa-spinner fa-spin" style="font-size:36px;color:forestgreen"></i>  The site is being created, this might take a few minutes.</h2>
</div>

<script>
    setTimeout(function () { window.location.href = window.location.href }, 10000);
</script>

