body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.result-success {
  color: green;
  font-weight: 600;
}

.result-failed {
  color: red;
  font-weight: 600;
}

.result-failed-msg {
  color: red;
}
