/* CSS for the PnP User Interface Prototype */
body {
    overflow: visible;
}
.container {
    margin-left: 25px;
    margin-top: 10px;
}
/*#region Bootstrap Overrides */
.modal {
    background-color: rgba(0,0,0,0.8);
}

.modal-pnp .nav-pills > li > a {
    border-radius: 0;
    text-align: center;
}

.modal-pnp .nav-pills > li.active > a,
.modal-pnp .nav-pills > li.active > a:hover,
.modal-pnp .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #DC3C00;
    /*color: #0070c0;
    background-color: #FFF;*/
}

.modal-pnp .nav > li > a:hover,
.modal-pnp .nav > li > a:focus {
    background-color: #DDD;
    color: #DC3C00;
}

.modal-pnp .form-control {
    border-radius: 0;
}
/*#endregion*/


/*#region Layout */
.modal-pnp .modal-dialog {
    height: 725px;
    overflow: hidden;
}

.modal-pnp .modal-content {
    position: relative;
    font-family: 'Segoe UI', Segoe, Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    border-radius: 0;
}

.modal-pnp .modal-content,
.modal-pnp .modal-body,
.modal-pnp .modal-body > .row,
.modal-pnp .modal-body > .row > div[class^="col-"],
.modal-pnp .modal-body > .row > div[class^="col-"] > form,
.modal-pnp .modal-body > .row > div[class^="col-"] .modal-left,
.modal-pnp .modal-body > .row > div[class^="col-"] .modal-right {
    height: 100%;
}

.modal-pnp .modal-body {
    padding: 0 15px;
}

    .modal-pnp .modal-body > .row > div[class^="col-"] {
        padding: 0;
    }

.modal-pnp .step {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
/*#endregion*/

.modal-pnp table a {
    color: #000;
}

/*#region Left Column */
.modal-pnp .modal-left {
    background-color: #FFF;
}

    .modal-pnp .modal-left img {
        padding: 20px 10px 10px;
    }

    .modal-pnp .modal-left a {
        color: #DC3C00;
    }

    .modal-pnp .modal-left ul {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
    }
/*#endregion*/


/*#region Right Column */
.modal-pnp .modal-right {
    background: #FFF;
    padding: 20px 20px 80px;
    position: relative;
}

    .modal-pnp .modal-right h1 {
        font-weight: 100;
        font-size: 30px;
        margin: 0 0 20px;
        padding: 0;
    }

.modal-pnp .modal-right-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.modal-pnp .modal-right textarea {
    resize: none;
}

/*#endregion*/


/*#region Templates */
.modal-pnp .media:hover,
.modal-pnp .media.active {
    background-color: #DDD;
    cursor: pointer;
}

.modal-pnp .media-body {
    padding-top: 5px;
}
/*#endregion*/


/*#region Buttons */
.modal-pnp .btn-image {
    width: 34px;
    height: 34px;
    display: block;
    float: left;
    margin-left: 5px;
}

    .modal-pnp .btn-image:hover {
        background-position-x: -64px;
        cursor: pointer;
    }

    .modal-pnp .btn-image:active {
        background-position-x: -128px;
    }

.modal-pnp .btn-back {
    background-image: url(../images/button-back.png);
}

.modal-pnp .btn-next {
    background-image: url(../images/button-next.png);
}

.modal-pnp .btn-check {
    background-image: url(../images/button-check.png);
}

.modal-pnp .btn-cancel {
    background-image: url(../images/button-cancel.png);
}
/*#endregion*/


/*#region Animations */
.modal-pnp .step.ng-enter {
    -moz-animation: fadeInRight 0.3s;
    -o-animation: fadeInRight 0.3s;
    -webkit-animation: fadeInRight 0.3s;
    animation: fadeInRight 0.3s;
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
/*#endregion*/

/*region Validation Messages*/
.error-messages.ng-active {
  background:#DC3C00; /* #DC3C00 */
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent #DC3C00;
  border-width:5px;
}
/*endregion Validation Messages*/

/*region Other bootstrap overrides*/
.has-feedback .form-control {
    padding-right: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.has-feedback-externalSharing {
    padding-right: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    display: none;
}

.form-control {
    height: 28px;
    font-size: 11px;
}

.control-label {
    font-size: 11px;
}

.btn btn-default {
    background:#DC3C00; 
    color:white;
    float: right;
}

.table table-striped {
    font-size: 11px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px 4px;
    line-height: 1.0;
    vertical-align: top;
}

.table.table-bordered.table-striped {
    font-size: 11px;
}

a {
    font-size: 11px;
}

.leftnav {
    font-size: 14px;
}

.panel-default > .panel-heading-custom {
    background: #0072c6; 
    color: #fff;
}

.panel-footer-custom {
    text-align: left; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    font-size: 11px; 
    background-color: gray !important;
}

.row{
    margin-top: 0px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

/*div.col-sm-6.col {
    margin-left: 0px;
    float: left;
}*/
/*endregion Other bootstrap overrides*/

/* Chrome Control Override
-----------------------------------------------------------*/
div#chromeControl_bottomheader
{
    height: 96px !important;
}
div#chromeControl_navigation
{
    height: 50px !important;
}
div#chromeControl_bottomheader_appicon
{
    padding: 24px 20px 24px 20px !important;
}
div#chromeControl_bottomheader_appicon img
{
    width: 180px !important;
    max-height: 64px;
}
div#chromeControl_topheader_appicon img
{
    width: 45px !important;
    max-height: 16px;
}
img#chromeControl_topheader_arrowimage {
    display: none;
}
span#chromeControl_topheader_sitetitle
{
    color: #fff !important;
    font-size: 12px;
}


.shortcut-message {
  color: white;
  vertical-align: middle;
  background-color: #007aff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;

}

.confirm-error-message {
    cursor: pointer;
  background: #DC3C00;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  position: relative;
}

/* Begin spinner classes */
.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}

.spinnertext {
  margin: 50px auto 0;
  width: 150px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: darkslategrey;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


/* Begin People Picker Styles */

.sp-peoplepicker-editDiv {
    overflow: hidden;
}

span.sp-peoplepicker-chosen {
    margin-right: 10px;
}

span.sp-peoplepicker-removeChosen {
    margin-left: 3px;
    cursor: pointer;
}

li.sp-peoplepicker-foundItem {
    cursor: pointer;
}

li.sp-peoplepicker-foundItem:hover {
    background-color:#f5f5f5;
}

ul.sp-peoplepicker-dropdown li {
    padding: 4px;
}

/* maintain small divider line from bootstrap */
ul.sp-peoplepicker-dropdown li.divider {
    padding: 0px !important;
}

/* Site Edit CSS*/
.ms-Button{background-color:#002050 !important;color:white !important }
          .ms-Button:hover{background-color:#26416a !important;color:white !important}
          .selected{background-color: rgba(243, 243, 243, 1);color: black !important;}
          .link{text-decoration:none}
          .navlink{
              color:#0072c6;
              height: 35px;
              padding: 10px 0px 0px 16px;
              margin-top:50px
          }
          .leftNav{display:block;height:100%;width:232px;background-color:#FFF;position:fixed;z-index:1}
          .navBar{
              height:50px;
              width:100%;
              background-color: #0072c6;
              padding:0px;
              display: block;
              border-spacing: 0;
              line-height: normal;
              z-index:2;
              position:fixed;
              top:0;    
          }hidd
   html, body {
  margin: 0;background-color:rgba(243, 243, 243, 1);
}
  .appTitle{
    position: absolute;
    top: 0px;
    left: 153px;
    color: white;
    font-size: 22px;
    font-family: Segoe UI;
    padding: 8px 0px 0px 10px;
  }


.TileContainer
{
    margin-left: 50px;
    margin-top: 50px;
}

.TileContent {
	width: 371px;
	height: 625px;
	border: 1px;
    background-color: #fff;
	border-color: #fff;
	border-style: solid;
	overflow: hidden;
    position:absolute;
    top:97px;
}
.TextPostion {
	margin: 10px 10px 10px 10px;
}
.NavLine
{
    display:inline-block;
    vertical-align:middle;
    height:40px;
    width:1px;
    background:#fff;
    background-color:rgba(255,255,255,.4);
    position:absolute;
    top:5px;    
    left:135px;
}

.o365cs-nav-button {
    display: block;
    vertical-align: middle;
    border-width: 0;
    margin: 0;
    padding: 0;
    min-width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    outline-offset: -1px;
    content:icon;

}

.o365cs-nav-navMenuBeak {
    position: absolute;
    bottom: -8px;
    left: 14px;
    z-index: 2100;
}

.requirements {    
    color: #FFF;
    font-family: "Segoe UI" , "Segoe" ,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;

}

.O15_editor_field_head
{
    
}
