@{
    ViewBag.Title = "Tokens Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>ContextToken:</h2>
        <p>@ViewBag.ContextToken</p>
        <br />
        <h2>Client Id</h2>
        <p>@ViewBag.ClientId</p>
        <br />
        <h2>Client Secret</h2>
        <p>@ViewBag.ClientSecret</p>
    </div>
</body>
</html>
