<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F1C7CB1A58951FA2FE6933F4D98431AFB" validation="SHA1" validationKey="1C7CB1A58951FA2FE6933F4D98431AFBE55518929DE62168764FF0DCE537184F0535D5D9AD66DEDC1C7CB1A58951FA2FE6933F4D98431AFBE555189297DC1ABF" />
  </system.web>
  <appSettings>
    <!-- when deployed to Azure cloud services use this clientID and clientSecret
        + comment HostedAppHostNameOverride
    AZURE:    
    <add key="ClientId" value="52252c66-ac0a-492e-9ab8-a3dc281ae9ff" />
    <add key="ClientSecret" value="UwZ8HbwwBKo+GWtUf9g48X451ieVyfBjFnj5J8o9rz0=" />
    
    DEV:
    <add key="ClientId" value="e0c073c3-7196-4f66-8fa1-e5df2502e2aa" />
    <add key="ClientSecret" value="QyO9aK1eovplSs6IUYLGLVonSrsYLRqyUA1GYKcn5bo=" />
    -->
    <add key="ClientId" value="94d0be1f-0dad-4f38-b5af-194882c50266" />
    <add key="ClientSecret" value="QyO9aK1eovplSs6IUYLGLVonSrsYLRqyUA1GYKcn5bo=" />
    <add key="HostedAppHostNameOverride" value="127.0.0.1" />
  </appSettings>
  <system.serviceModel>
    <client>
      <!-- when deployed to Azure cloud services use the following svc url:
      AZURE:
      <endpoint address="https://prov.set1.bertonline.info/SharePointProvisioningService.svc" binding="basicHttpBinding" bindingConfiguration="secureBinding" contract="SharePointProvisioning.ISharePointProvisioningService" name="BasicHttpBinding_ISharePointProvisioningService" />            
      DEV:
      <endpoint address="https://localhost/SharePointProvisioningService.svc" binding="basicHttpBinding" bindingConfiguration="secureBinding" contract="SharePointProvisioning.ISharePointProvisioningService" name="BasicHttpBinding_ISharePointProvisioningService" />
      -->
      <endpoint address="https://localhost/SharePointProvisioningService.svc" binding="basicHttpBinding" bindingConfiguration="secureBinding" contract="SharePointProvisioning.ISharePointProvisioningService" name="BasicHttpBinding_ISharePointProvisioningService" />
    </client>
    <services>
      <service name="Contoso.Provisioning.Hybrid.Web.SharePointProvisioningService" behaviorConfiguration="behavior1">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureBinding" contract="Contoso.Provisioning.Hybrid.Web.ISharePointProvisioningService" />
        <!-- setting for http -->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        <!-- setting for https -->
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="behavior1">
          <!--The useRequestHeadersForMetadataAddress behavior is contained in the KB981002- WCF: Hotfix rollup upodate. -->
          <!--This behavior is required for WCF to correctly serve metadata when behind a load balancer (which is the case in Windows Azure)-->
          <useRequestHeadersForMetadataAddress />
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <!--mode = Transport for plain https usage, TransportWithMessageCredential for https with user/pwd validation, mode = None for http -->
          <security mode="Transport" />
          <!--<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />-->
        </binding>
        <binding name="BasicHttpBinding_ISharePointProvisioningService" />
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>