@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Success";
}

<h1 class="text-success">Success</h1>
<h2 class="text-success">The subscription has been created. You can now make changes in your Outlook calendar and receive notifications in the Web API (NotifyController).</h2>