<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="Client ID" />
    <add key="ClientSecret" value="Encrypted Client Secret in Production" />
    <add key="TenantAdminUrl" value="https://contoso-admin.sharepoint.com" />
    <add key="JavaScriptFile" value="URL of externalSharing.js file location (read readme file - the file in this solution is located under scripts folder)" />
    <add key="SPExternalSharingWeb_Version" value="1.0.0.0" />
    <add key="OutputFileLocation" value="Physical path of the output location" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>