@{
    ViewBag.Title = "Others (beta)";
}

<div class="row">
    <div class="col-md-12">
        <p>
            In this section you can find samples related to the others APIs, which are still in beta version.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Miscellaneous</h2>
        <p><a class="btn btn-default" href="/Others/ListTasks">List Tasks &raquo;</a></p>
        <p><a class="btn btn-default" href="/Others/ListNotes">List Notes &raquo;</a></p>
        <p><a class="btn btn-default" href="/Others/ListPeople">List People Related to  Me &raquo;</a></p>
        <p><a class="btn btn-default" href="/Others/TrendingAround">Trending Around Me &raquo;</a></p>
        <p><a class="btn btn-default" href="/Others/WorkingWith">Working With Me &raquo;</a></p>
    </div>
</div>

