@import 'variables';

#carousel {

    .carousel {
        
        width: 100%;
        
        .carousel-cell {

            width: 100%;   
                        
            img {
                width: 100%;
                height: 100%;
            }
            
            img.no-image {
                opacity: 0.2;
            }

            span {

                width: 100%;
                left: 0;
                bottom: 0;
                position: absolute;
                padding: 10px;
                background-color: $primary-color;

                a {
                    color: #ffffff;
                }
            }            
        }
    }
}