@{
    ViewBag.Title = "Chapter 7 - Files";
}

<div class="row">
    <div class="col-md-12">
        <p>
            In this section you can find samples related to the Files APIs for OneDrive for Business.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>OneDrive for Business</h2>
        <p><a class="btn btn-default" href="/Files/PlayWithFiles">Play with File Services &raquo;</a></p>
        @*<p><a class="btn btn-default" href="/Files/ListFiles">List Files &raquo;</a></p>
        <p><a class="btn btn-default" href="/Files/SearchFiles">Search Files &raquo;</a></p>
        <p><a class="btn btn-default" href="/Files/AddFolder">Create Folder &raquo;</a></p>
        <p><a class="btn btn-default" href="/Files/UploadFile">Upload File &raquo;</a></p>*@
    </div>
</div>

