
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h1>Thank you</h1>
        <h2>Thank you for completing the site creation wizard.</h2>
        <p>Your request is being processed...</p>
    </div>
</body>
</html>
