<?xml version="1.0" encoding="utf-8"?>
<TemplateConfiguration Version='1.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <Templates>
    <!--ThemePackage Name must be defined in the ThemePackage Element in order to apply.
          StorageMaximumLevel Minimum 110 
          For on-prem & SPOD legacy Storage and UserCode are not used. 
      -->
    <Template ID="CT1"
              Name="CT1"
              Title="Contoso Team"
              RootTemplate="STS#0"
              Description="Super Team Site"
              RootWebOnly="false"
              HostPath="https://team.com/"
              ManagedPath="teams"
              Version="1"
              StorageMaximumLevel="110"
              StorageWarningLevel="0"
              UserCodeMaximumLevel="100"
              UserCodeWarningLevel="0"
              BrandingPackage="Contoso"
              Enabled="true"
              TemplateConfiguration="Resources/Templates/SiteTemplates/DefaultTeamSiteTemplate.xml"/>
    <Template ID="CT2"
              Name="CT2"
              Title="Contoso Team"
              RootTemplate="STS#0"
              Description="Super Team Site"
              RootWebOnly="true"
              HostPath="https://team.com/"
              ManagedPath="teams"
              Version="1"
              StorageMaximumLevel="110"
              StorageWarningLevel="0"
              UserCodeMaximumLevel="110"
              UserCodeWarningLevel="0"
              BrandingPackage="Garage"
              Enabled="true"
              TemplateConfiguration="Resources/Templates/SiteTemplates/DefaultTeamSiteTeamplate.xml"/>
    <Template ID="CT3"
              Name="CT3"
              Title="Contoso Team"
              RootTemplate="STS#0"
              Description="Super Team Site"
              RootWebOnly="false"
              HostPath="https://team.com/"
              ManagedPath="teams"
              Version="1"
              StorageMaximumLevel="100"
              StorageWarningLevel="0"
              UserCodeMaximumLevel="100"
              UserCodeWarningLevel="0"
              BrandingPackage="GarageWhite"
              Enabled="false" 
              TemplateConfiguration="Resources/Templates/DefaultTeamSiteTeamplate.xml"/>
  </Templates>
  <BrandingPackages DefaultTheme="Garage">
    <BrandingPackage Name="Contoso"
                  ColorFile="Resources/Themes/Contoso/contoso.spcolor"
                  FontFile="Resources/Themes/Contoso/contoso.spfont"
                  BackgroundFile="Resources/Themes/Contoso/contosobg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS="Resources/Themes/Contoso/contosocss.css"
                  SiteLogo="Contoso"
                  Version="1" />
    <BrandingPackage Name="Garage"
                  ColorFile="Resources/Themes/Garage/garage.spcolor"
                  FontFile=""
                  BackgroundFile="Resources/Themes/Garage/garagebg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS=""
                  SiteLogo=""
                  Version="1"/>
    <BrandingPackage Name="GarageWhite"
                  ColorFile="Resources/Themes/Garage/garagewhite.spcolor"
                  FontFile=""
                  BackgroundFile="Resources/Themes/Garage/garagebg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS=""
                  SiteLogo=""
                  Version="1" />
    <BrandingPackage Name="SPC"
                  ColorFile="Resources/Themes/SPC/SPCTheme.spcolor"
                  FontFile=""
                  BackgroundFile="Resources/Themes/SPC/SPCbg.jpg"
                  MasterPage="seattle.master"
                  AlternateCSS=""
                  SiteLogo=""
                  Version="1"/>
  </BrandingPackages>
  <CustomActions>
    <!--Must have deployed the Provider Hosted App,Rights See Microsoft.SharePoint.Client.PermissionKind-->
    <CustomAction Name="CA_SITE_SETTINGS_SITECLASSIFICATION" Description="Site Classification Application" Group="SiteTasks" Location="Microsoft.SharePoint.SiteSettings" Title="Site Classification" Sequence="1000" Url="https://spmanaged.azurewebsites.net/pages/index.aspx?SPHostUrl={0}" Rights="31" Enabled="true"/>
    <CustomAction Name="CA_STDMENU_SITECLASSIFICATION" Description="Site Classification Application" Group="SiteActions" Location="Microsoft.SharePoint.StandardMenu" Title="Site Classification" Sequence="1000" Url="https://spmanaged.azurewebsites.net/pages/index.aspx?SPHostUrl={0}" Rights="31" Enabled="true"/>
    <CustomAction Name="CA_SUBSITE_OVERRIDE" Description="Override new sub-site link" Group="SiteTasks" Location="Microsoft.SharePoint.SiteSettings" Title="SubSite Overide" Sequence="1000" Url="https://spmanaged.azurewebsites.net/pages/index.aspx?SPHostUrl={0}" Rights="31" Enabled="true"/>
  </CustomActions>
  <!---->
</TemplateConfiguration>
