<div id="searchbox-mobile">

    <button type="button" data-bind="click: toggleSearchBox, style: { float: displaySearchBox() ? 'right' : 'inherit' }">
        <i class="ms-Icon ms-font-xl" aria-hidden="true" data-bind="css: { 'ms-Icon--x': displaySearchBox,'ms-Icon--search': !displaySearchBox() }"></i>
    </button>

    <!-- ko if: displaySearchBox -->

        <!-- ko if: isError -->
            <button type="button" class="error" aria-haspopup="true" aria-expanded="false">
                <i class="ms-Icon ms-font-l ms-Icon--exclamation" aria-hidden="true"></i>
            </button>
        <!-- /ko -->

        <!-- ko ifnot: isError -->
            <button type="button" data-bind="click: toggleCategory">
                <i class="ms-Icon ms-font-l" aria-hidden="true" data-bind="css: selectedCategory().iconClass"></i>
            </button>
        <!-- /ko -->

        <form data-bind="submit: doSearch">
            <input  type="text" placeholder="Search" data-bind="textInput: inputQuery, 
                                attr: { placeholder: selectedCategory() ? (searchPlaceHolderLabel() + ' ' + selectedCategory().name ) : searchPlaceHolderLabel }, 
                                css : { 'error': isError() },
                                event: { focusout: function(){isError(false)} },
                                inputFocus: displaySearchBox">
        </form>
    <!-- /ko -->
</div>