.cam-taxpicker {
    width: 386px;
    overflow: hidden;
    border-spacing: 0px;
}

.cam-taxpicker-editor {
    border: 1px solid #99b0c1;
    cursor: text;
    word-break: break-all;
    word-wrap: break-word;
    min-height: 1em;
    outline: none medium invert;
    padding: 2px;
    width: 360px;
    float: left;
    min-height: 19px;
}

.cam-taxpicker-button {
    margin: 2px;
    background: url(images/EMMCopyTerm.png) no-repeat;
    width: 16px;
    height: 16px;
    float: left;
}

.cam-taxpicker-dialog-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #999;
    opacity: 0.4;
    z-index: 1500;
}

.cam-taxpicker-dialog-content {
    position: absolute;
    width: 820px;
    height: 650px;
    left: 50%;
    top: 50%;
    margin-left: -410px;
    margin-top: -325px;
    border: 1px solid #C4D0D7;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.47);
    background: #fff;
    z-index: 1505;
}

.cam-taxpicker-dialog-content-header {
    padding: 13px 19px 15px;
    white-space: nowrap;
    cursor: move;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cam-taxpicker-dialog-content-header-title {
    width: 735px;
    font-size: 1.46em;
    font-weight: 200;
    float: left;
}

.cam-taxpicker-dialog-content-close {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(images/Close.png) no-repeat;
    float: right;
}

.cam-taxpicker-dialog-content-subheader {
    width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    font-size: 17px; 
}

.cam-taxpicker-dialog-content-subheader-img {
    margin-right: 20px;
    float: left;
}

.cam-taxpicker-dialog-content-subheader-title {
    padding-top: 4px;
    float: left;
}

.cam-taxpicker-dialog-content-subheader-addnew {
    padding-top: 4px;
    float: left;
}

.cam-taxpicker-dialog-content-body {
}

.cam-taxpicker-dialog-tree-container {
    width: 780px;
    height: 380px;
    border: 1px solid #898989;
    overflow-x: hidden;
    overflow-x: auto;
    margin: 20px;
    float: left;
}

.cam-taxpicker-dialog-selection-container {
    width: 760px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cam-taxpicker-dialog-selection-container button {
    width: 150px;
}

.cam-taxpicker-dialog-selection-editor {
    border: 1px solid #5c7b93;
    background-color: rgba(255, 255, 255, 0.84);
    outline: medium none invert;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: visible;
    width: 490px;
    float: right;
    min-height: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cam-taxpicker-suggestion-container {
    min-width: 384px;
    position: absolute;
    padding-bottom: 15px;
    border: thin ridge currentColor;
    z-index: 1;
    display: none;
    background-color: #fff;
}

.cam-taxpicker-suggestion-title {
    background-color: rgb(235, 243, 255);
    color: #818187;
    border: medium none #222222;
    font-weight: bold;
    font-size: 8pt;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 0px;
    padding-top: 2px;
}

.cam-taxpicker-suggestion-item {
    color: #000;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    padding-left: 16px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    white-space: nowrap;
    cursor: pointer;
}

.cam-taxpicker-suggestion-item:hover {
    background-color: rgb(253, 238, 219);
}

.cam-taxpicker-term-selected {
    text-decoration: underline;
}

.cam-taxpicker-term-invalid {
    color: red;
    border-bottom: 1px dotted red;
}




.cam-taxpicker-treenode-ul {
    margin: 0px;
    padding-left: 0px;
    display: none;
    margin-left: 15px;
}

.root.cam-taxpicker-treenode-ul {
    display: block;
    margin-left: 0px;
}

.cam-taxpicker-treenode-li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}


.cam-taxpicker-treenode {
    width: 200px;
    white-space: nowrap;
}
.cam-taxpicker-treenode img {
    margin: 2px 0px 2px 4px;
    vertical-align: middle;
}
.cam-taxpicker-expander {
    float: left;
    width: 15px;
    height: 20px;
    background: url(images/MDNNo.png) no-repeat;
}

.expanded.cam-taxpicker-expander {
    background: url(images/MDNExpanded.png) no-repeat;
}

.collapsed.cam-taxpicker-expander {
    background: url(images/MDNCollapsed.png) no-repeat;
}

.cam-taxpicker-treenode-title {
    margin: 0px 0px 0px 4px;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}

.cam-taxpicker-treenode-title:hover {
    border: 1px solid #ff9933;
}

.selected.cam-taxpicker-treenode-title {
    border: 1px solid #ff9933;
    background: url(images/menubuttonhover.gif) repeat-x;
}

.root.cam-taxpicker-treenode-title:hover {
    cursor: default;
}
.root.cam-taxpicker-treenode-title:hover {
    border: 1px solid transparent;
}

.cam-taxpicker-treenode-newnode {
    margin: 0px 0px 0px 4px;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 100px;
    border: 1px solid #ff9933;
    background: url(images/menubuttonhover.gif) repeat-x;
    min-height: 19px;
}

.cam-taxpicker-dialog-button-container {
    width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.cam-taxpicker-waiting-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #999;
    opacity: 0.4;
    z-index: 1500;
}

.cam-taxpicker-waiting-dlg {
    position: absolute;
    width: 368px;
    height: 146px;
    left: 50%;
    top: 50%;
    margin-left: -184px;
    margin-top: -73px;
    border: 1px solid #C4D0D7;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.47);
    background: #fff;
    z-index: 1505;
}

.cam-taxpicker-waiting-dlg-inner {
    text-align: center; 
    margin-top: 40px;
}