<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="AppId" value="a4cdf20c-3385-4664-8302-5eab57ee6f14" />
      <add key="AppSecret" value="I3rODTSFMI/JFlwg3ma+L9lUlGpNc1Ge7l8IhSOAAqEJ+lIvKr9ri1qQwa1G9nbxH4xUjtHcwrZOfCM4CFho6vSXbWnYiaO3/ZpMnqV2nqJfmmpVI7N08GmVgCxTpigyfekRJWsBhN1PN/cMbt27zW/BI2UDRN3Tt0eFYYt8U17bw8YosmZKNZe8IfCjUfFHRGNlYHvgA4u0J7Oeh+ch6115dTC43iBKQv5Z1D+i0KQMhebj0DYD/S5MnmNzOxcFZ/qetNCie9z/I58rXzZG3UgMMJ+CHYLhMjj6+IDpnDjAaBntLMXU5RdUxVXDW3xreU+PxgBWIvuCe/DEJOln6A==" />
      <add key="Realm" value="d8623c9e-30c7-473a-83bc-d907df44a26e" />
      <add key="TenantAdminUrl" value="https://bertonline-admin.sharepoint.com" />
      <add key="General.SiteCollectionUrl" value="https://bertonline.sharepoint.com/sites/" />
      <add key="General.SiteDirectoryUrl" value="https://bertonline.sharepoint.com/sites/dev" />
      <add key="General.SiteDirectoryListName" value="Site overview" />
      <add key="General.MailSMTPServer" value="smtp.office365.com" />
      <add key="General.MailUser" value="bert.jansen@bertonline.onmicrosoft.com" />
      <add key="General.MailUserPassword" value="GPzpW6ooX52N52xOLVZ6cq5GcYDIjZdGR1OGOI3RwB9L8bvDvTmJk61CNuAbAoFL0DYlXd3k2Aey/lUgHjryX4YY6JfkzbEc9ZBH15fsx8CZUjzx9kMRrVOk3cej1JpyUP93bMMQJpMiR/+OilMg8SWUUz9P8vKLsDbZ1XQDh1M5lHvg4PUxQxeOtLQubqVljwXZxDx/h6aOhP459cd0JTmpUsk2OPtD6+4bCPr2+fTExzbxb0jK8N86t+20hPk1qUkYLh8ZDVEGJj0lvYQYsFPCVAtsrU+Gf3+JWmKcZrkB2BzziE6If0s5WZiTKBkXFY4+5V+sL2MKxGmtcUEfsQ==" />
      <add key="General.MailSiteAvailable" value="&lt;html &gt; &lt;body&gt;         &lt;h1&gt;Your site &lt;b&gt;{0}&lt;/b&gt; has been created!&lt;/h1&gt;      &lt;br/&gt;     To access your site use this link &lt;a href=&quot;{1}&quot;&gt;{1}&lt;/a&gt;     &lt;br /&gt;     &lt;br /&gt;     The site owners are &lt;b&gt;{2} ({3})&lt;/b&gt;     &lt;br /&gt; &lt;/body&gt; &lt;/html&gt;" />
      <add key="General.EncryptionThumbPrint" value="676E6C5A6D6DA88A0182B6B89EA0BA8ED8F628CA" />
      <add key="ContosoCollaboration.PromotedSiteName" value="Check out  our Office App Model Samples!" />
      <add key="ContosoCollaboration.PromotedSiteUrl" value="https://officeams.codeplex.com/" />
      <add key="ContosoCollaboration.ThemeName" value="SPCTheme"/>
      <add key="General.OnPremUserName" value="administrator" />
      <add key="General.OnPremUserPassword" value="GPzpW6ooX52N52xOLVZ6cq5GcYDIjZdGR1OGOI3RwB9L8bvDvTmJk61CNuAbAoFL0DYlXd3k2Aey/lUgHjryX4YY6JfkzbEc9ZBH15fsx8CZUjzx9kMRrVOk3cej1JpyUP93bMMQJpMiR/+OilMg8SWUUz9P8vKLsDbZ1XQDh1M5lHvg4PUxQxeOtLQubqVljwXZxDx/h6aOhP459cd0JTmpUsk2OPtD6+4bCPr2+fTExzbxb0jK8N86t+20hPk1qUkYLh8ZDVEGJj0lvYQYsFPCVAtsrU+Gf3+JWmKcZrkB2BzziE6If0s5WZiTKBkXFY4+5V+sL2MKxGmtcUEfsQ==" />
      <add key="General.OnPremUserDomain" value="SET1" />
      <add key="General.OnPremWebApplication" value="https://sp2013.set1.bertonline.info" />
      <add key="General.SBServiceNameSpace" value="bjansen"/>
      <add key="General.SBIssuerName" value="owner"/>
      <add key="General.SBIssuerSecret" value="umsUCcoHtxXDx3i9uXRJJMBI8Qrs7ysdyFw85/1F6uXb/EAliixxajDtdIuANiggBUe6hwMFABW+AG57Fi8Gck9X1G7HiSXzfC0zvC1H1CludDFcXluKDUJJgHeS70iuRiiplTtwj9+6/mFSEG5h8py/6HJJBESGYRS6x4VuhALzdO8YiIHthKiwAUKTxopn411Dmd1nYt7o0nqo8fXjm+NaMrtPDQmrlUA6Ct35ONWIODoqQoQAVlBAHWQRVSAhIw7K8HmkoOrpP+5t8SG2ieSVNnxL21r9No6q2qbr+qlv+9bAI8EajRE2VZKhjbk7mlZJaVyNU953IfmFy9UiBw=="/>
    </appSettings> 
  
    <system.serviceModel>      
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ISiteManager">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpBinding_ISiteManager1">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpBinding_ISiteManager2">
            <security mode="Transport">
              <transport clientCredentialType="Ntlm" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://sp2013.set1.bertonline.info/_vti_bin/contoso.services.sitemanager/sitemanager.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiteManager"
          contract="SiteManager.ISiteManager" name="BasicHttpBinding_ISiteManager" />
      </client>
      <services>
        <service name="Contoso.Provisioning.Hybrid.SharePointProvisioning">
          <endpoint address="" binding="netTcpRelayBinding" contract="Contoso.Provisioning.Hybrid.ISharePointProvisioning" />
        </service>
      </services>

      <extensions>
        <bindingExtensions>
          <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </bindingExtensions>
      </extensions>      
    </system.serviceModel>

</configuration>