/* Page-specific styling */

#content-tabs {
}

.content-tab {
    display: inline-block;
    cursor: pointer;
    max-width: 100px;
    padding: 5px 10px;
    font-size: medium;
    border: solid 1px inherit;
}
    .content-tab.selected {
        font-weight: bold;
        background-color: #eeeeee;
    }