<div id="breadcrumb-nav" data-bind="css: {'spinner': wait }">
    <!-- ko if: isEmptyNodes -->
        <div id="message">
            <i class="fa fa-info-circle text-warning" aria-hidden="true"></i>
            <div data-bind="text: errorMessage"></div>             
        </div>
    <!-- /ko -->
    <!-- ko if: nodes().length > 0 -->
        <ul>
            <!-- ko foreach: nodes -->
                <!-- ko ifnot: hasParent -->       
                <li data-bind="css : { 'is-selected' : isCurrentNode }">
                    <a style="text-decoration: none;padding-left: 0px" data-bind="attr: {href: $parent.webServerRelativeUrl },getResource: 'breadcrumbHomeLabel'">
                    </a>  
                </li> 
                <!-- /ko -->
                <li data-bind="css : { 'is-selected' : isCurrentNode }">  
                    <a data-bind="text: title, attr: { href: url }"></a>
                </li>
            <!-- /ko -->
        </ul>
    <!-- /ko -->
</div>