<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="a9da4c2f-1f48-4c29-9fd8-f4d61f7ebe85" />
    <add key="ClientSecret" value="DlOXXY/V2lislm1cKuxCIiBmoJ5uErEBRl2wqp566WU=" />
    <!-- Details on how to get your access token - check following https://developer.yammer.com/authentication -->
    <add key="YammerAccessToken" value="GetYourOwnAccessTokenFromYammer" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>